{# set feedbackContext #}

<div class="ladb-feedbacks-header">
    {% if feedbackContext.feedbackCount > 0 %}
        <h2 id="ladb_feedbacks" class="ladb-margin-bottom">{{ feedbackContext.feedbackCount }} {{ ('feedback.default.choice.entities')|transchoice(feedbackContext.feedbackCount) }}</h2>
    {% else %}
        <h2 id="ladb_feedbacks">{{ ('feedback.default.choice.entities')|transchoice(2)|capitalize }}</h2>
    {% endif %}
</div>
