{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set pageTitle = 'promotion.graphic.list'|trans() %}
{% set pageDescription = 'promotion.graphic.description'|trans() %}
{% set pageImage = asset('banner-promotion-600x376.jpg') %}
{% set pageSectionUrl = url('core_promotion_graphic_list') %}
{% set pageSectionName = 'promotion.graphic.list'|trans %}

{% set navSection = 'promotion' %}
{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Promotion/Graphic:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top ladb-margin-bottom">
        <div class="panel-body">{{ 'promotion.description'|trans() }}</div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Promotion/Graphic:_list-n.part.html.twig' %}
{% endblock %}