{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'faq.question.list'|trans() %}
{% set headingLevel = 2 %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Faq:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightOuter %}
    {% if is_granted('ROLE_ADMIN') %}{{ parent() }}{% endif %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_faq_question_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'faq.question.new'|trans() }}</span></a>
{% endblock %}