{% extends 'LadbCoreBundle:Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.questions'|trans() %}
{% set searchPath = path('core_faq_question_list') %}
{% set masonry = true %}
{% set masonryWide = true %}

{% block filtersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tag" data-label="Tag" data-editable="true" data-icon="tag" data-proposals-url="{{ path('core_search_typeahead_tags_json')|raw }}"><i class="ladb-icon-tag"></i> Tags</a></li>
{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="important" data-label="Importantes" data-unique="true" data-icon="warning"><i class="ladb-icon-warning"></i> Importantes</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="recent" data-label="Récentes" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récentes</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-views" data-label="Plus vues" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vues</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-likes" data-label="Préférées" data-unique="true" data-icon="like"><i class="ladb-icon-like"></i> Préférées</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-comments" data-label="Plus commentées" data-unique="true" data-icon="comment"><i class="ladb-icon-comment"></i> Plus commentées</a></li>
{% endblock %}
