{% extends "::base.html.twig" %}

{% set bodyClass = 'ladb-topbar-enabled' %}
{% set bodyContainerClasses = 'ladb-margin-top' %}

{% block bodyHeader %}
    {% include '::_topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainer %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <div class="panel panel-default panel-lg">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'user.email_confirmation.title'|trans() }}</h1>
                </div>
                <div class="panel-body">
                    {{ 'user.email_confirmation.check.body'|trans({ '%email%':user.email, '%path%':(path('core_user_settings')~'#account') })|ladb_markdown|raw }}
                </div>
                <div class="panel-footer">
                    <a href="{{ path('core_welcome') }}" class="btn btn-default">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
