
{# set title (falcultative) #}
{# set icon (falcultative) #}

<li><a href="#creations"><i class="{{ icon|default('ladb-icon-creation') }}"></i> {{ title is defined ? title : ('wonder.creation.choice.entities'|transchoice(2)|capitalize) }}</a></li>