{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'wonder.creation.list'|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Wonder/Creation:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_creation_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'wonder.creation.new'|trans() }}</span></a>{% include 'LadbCoreBundle:Core/Member:_widget.part.html.twig' with { 'titleKey':'wonder.creation.new', 'route':'core_creation_new' } %}
{% endblock %}