{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageUrl = url('core_creation_plans', { 'id':creation.id }) %}
{% set pageTitle = 'Plans associés à '~creation.title %}
{% set pageDescription = 'Plans associés à la création' %}

{% set navSection = 'creations' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':creation } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if plans.count == 0 %}
        <div class="alert alert-info">
            Aucun plan n'est associé à cette création.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Wonder/Plan:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_creation_plans_filter' %}
            {% set filterPathParameters = { 'id':creation.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ creation.planCount }} {{ 'wonder.plan.choice.plans'|transchoice(creation.planCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Plan:_list-n.part.html.twig' %}
{% endblock %}