
{# set title (falcultative) #}
{# set icon (falcultative) #}

<li><a href="#plans"><i class="{{ icon|default('ladb-icon-plan') }}"></i> {{ title is defined ? title : ('wonder.plan.choice.plans'|transchoice(2)|capitalize) }}</a></li>