{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'plan.list'|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Wonder/Plan:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_plan_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'plan.new'|trans() }}</span></a>
{% endblock %}