{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set navSection = 'plans' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':plan } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if workflows.count == 0 %}
        <div class="alert alert-info">
            Aucune création n'est associé à ce plan.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Workflow:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_plan_workflows_filter' %}
            {% set filterPathParameters = { 'id':plan.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ plan.workflowCount }} {{ 'workflow.workflow.choice.workflows'|transchoice(plan.workflowCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Workflow:_list-n.part.html.twig' %}
{% endblock %}