{% extends 'LadbCoreBundle:Common:_list-n.part.html.twig' %}

{# set user (the context user) #}
{# set invitations #}
{# set nextPageUrl #}

{% block items %}
    {% for invitation in invitations %}
        {% embed 'LadbCoreBundle:Core/User:_list-row.part.html.twig' with { 'user':user.isTeam ? invitation.recipient : invitation.team } %}
            {% block rowInner %}
                {{ parent() }}
                <div class="ladb-row-metas">
                    <small class="text-muted" style="margin-right: 10px;">{% if user.isTeam %}Reçue de{% else %} Envoyée par{% endif%} <strong>{{ invitation.sender.displayname }}</strong></small>
                    {% if user.isTeam %}<a href="{{ path('core_member_invitation_accept', { 'id':invitation.id }) }}" class="btn btn-primary btn-sm">Accepter</a>{% endif %}
                    <a href="{{ path('core_member_invitation_delete', { 'id':invitation.id }) }}" class="btn btn-default btn-sm">Supprimer</a>
                </div>
            {% endblock %}
            {% block counters %}{% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
