{% extends 'LadbCoreBundle:Common:Modal/_modal-content.part.html.twig' %}

{% use 'LadbCoreBundle:Common/Blocks:list-autopager.blocks.html.twig' %}

{% set id = 'members_modal' %}
{% set title = '<i class="ladb-icon-plus"></i>&nbsp;'~(titleKey|trans()) %}
{% set classes = 'modal-infinit' %}
{% set embeddedBody = members|length > 0  %}

{% set autopagerContainerSelector = '#members_modal .modal-body' %}

{% block body %}
    {% if members|length > 0 %}
        <div class="ladb-help-block"><i class="ladb-icon-arrow-down"></i> Choisissez le collectif pour lequel vous allez publier</div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bodyInner %}
    {% if members|length == 0 %}
        <p>Aucune notification pour le moment.</p>
    {% endif %}
    {% include 'LadbCoreBundle:Core/Member:_list-session-teams-n.part.html.twig' %}
    {{ block('autopagerScript') }}
{% endblock %}

