{% extends 'LadbCoreBundle:Common/Modal:_modal-content.part.html.twig' %}

{% set id = 'member_request_modal' %}
{% set title = '<i class=\'ladb-icon-invite\'></i> Rejoindre le collectif' %}

{% block bodyInner %}
    <p style="white-space: normal;">Vous êtes sur le point d'envoyer une demande pour rejoindre le collectif <strong>{{ team.displayname }}</strong>.</p>
    <p style="white-space: normal;">Cette demande sera traitée par les membres du collectif. Et vous devrez attendre leur réponse.</p>
    <p style="white-space: normal;">Confirez l'action pour continuer.</p>
{% endblock %}

{% block footerInner %}
    <a class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
    <a href="{{ path('core_member_request_create', { 'teamId':team.id }) }}" id="ladb_member_request_modal_submit_btn" class="btn btn-primary">{{ 'default.send'|trans() }}</a>
{% endblock %}
