{# set feedbackContext #}

{% set noLazyLoad = true %}

<div class="ladb-success">
{% include 'Core/Feedback/_feedbacks-header.part.html.twig' %}
{% include 'Core/Feedback/_row.part.html.twig' %}
{% include 'Core/Feedback/_feedbacks-footer.part.html.twig' %}
</div>