{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageTitle = 'faq.title'|trans() %}
{% set pageDescription = 'faq.description'|trans() %}
{% set pageImage = asset('banner-faq-600x376.jpg') %}
{% set pageSectionUrl = url('core_faq_question_list') %}
{% set pageSectionName = 'faq.question.list'|trans %}

{% set navSection = 'faq' %}
{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Faq/Question:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top ladb-margin-bottom">
        <div class="panel-body">{{ 'faq.description'|trans() }}</div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Faq/Question:_list-n.part.html.twig' %}
{% endblock %}