web/bundles/
web/media/
web/css/
web/js/
web/.htaccess
web/sitemap-*
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/sessions/*
app/logs/*
app/spool/*
build/
bin/
components/
docs/
downloads/
scripts/
uploads/
keys/
vendor
composer.phar
.idea
.DS_Store
