version: '3.8'

services:

  nginx:
    ports:
      - '8000:80'

  mariadb:
    ports:
      - '3306:3306'

  elasticsearch:
    ports:
      - '9200:9200'

  rabbitmq:
    ports:
      - '5672:5672'
      - '15672:15672'

  maildev:
    ports:
      - '1080:80'
