{% extends 'LadbCoreBundle:Core/Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.events'|trans() %}
{% set searchPath = path('core_event_list') %}
{% set masonry = true %}
{% set masonryWide = true %}

{% block filtersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="around" data-label="Autour de moi" data-editable="false" data-unique="true" data-geolocation="true" data-icon="geolocate"><i class="ladb-icon-geolocate ladb-icon-fixed-center"></i> Autour de moi</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="location" data-label="Localisation" data-editable="true" data-icon="location"><i class="ladb-icon-location ladb-icon-fixed-center"></i> Localisation</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="status" data-value="running" data-label="En ce moment" data-unique="true" data-icon="running"><i class="ladb-icon-running"></i> En ce moment</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="status" data-value="scheduled" data-label="Prochainement" data-unique="true" data-icon="scheduled"><i class="ladb-icon-scheduled"></i> Prochainement</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="status" data-value="cancelled" data-label="Annulés" data-unique="true" data-icon="warning"><i class="ladb-icon-warning"></i> Annulés</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tag" data-label="Tag" data-editable="true" data-icon="tag" data-proposals-url="{{ path('core_search_typeahead_tags_json')|raw }}"><i class="ladb-icon-tag"></i> Tags</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="with-feedback" data-label="Avec retours d'expérience" data-unique="true" data-icon="feedback"><i class="ladb-icon-feedback"></i> Avec retours d'expérience</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="author" data-label="Auteur" data-editable="true" data-unique="true" data-icon="user"><i class="ladb-icon-user"></i> Auteur</a></li>
    {% if is_granted("ROLE_USER") %}
        <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="mine" data-value="all" data-label="Mes trouvailles" data-unique="true" data-icon="event"><i class="ladb-icon-event"></i> Mes évènements</a></li>
        <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="mine" data-value="draft" data-label="Mes brouillons" data-unique="true" data-icon="draft"><i class="ladb-icon-draft"></i> Mes brouillons</a></li>
    {% endif %}
    {# Hidden filters #}
    <li class="hidden"><a class="ladb-smartsearch-facet" data-type="filter" data-name="day" data-label="Jour" data-editable="true" data-unique="true" data-icon="event"><i class="ladb-icon-event"></i> Jour</a></li>
{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-recent" data-label="Récentes" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récents</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-popular-views" data-label="Plus vues" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vues</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-popular-likes" data-label="Préférées" data-unique="true" data-icon="like"><i class="ladb-icon-like"></i> Préférés</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-popular-comments" data-label="Plus commentées" data-unique="true" data-icon="comment"><i class="ladb-icon-comment"></i> Plus commentés</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-popular-joins" data-label="Plus de participants" data-unique="true" data-icon="users"><i class="ladb-icon-users"></i> Plus de participants</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-random" data-label="Aléatoire" data-unique="true" data-random="true" data-icon="random"><i class="ladb-icon-random"></i> Aléatoire</a></li>
{% endblock %}

{% block searchboxShortcuts %}
    <li><a class="ladb-smartsearch-shortcut" data-query="@status:running"><i class="ladb-icon-running"></i> En ce moment</a></li>
    <li><a class="ladb-smartsearch-shortcut" data-query="@status:scheduled"><i class="ladb-icon-scheduled"></i> Prochainement</a></li>
{% endblock %}



