{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageUrl = url('core_howto_creations', { 'id':workshop.id }) %}
{% set pageTitle = 'Créations associées à '~workshop.title %}
{% set pageDescription = 'Créations associées au pas à pas' %}

{% set navSection = 'howtos' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':howto } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if creations.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Aucune création n'est associée à ce pas à pas.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Wonder/Creation:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_howto_creations_filter' %}
            {% set filterPathParameters = { 'id':howto.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ howto.creations.count }} {{ 'wonder.creation.choice.creations'|transchoice(howto.creations.count) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Creation:_list-n.part.html.twig' %}
{% endblock %}