{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageTitle = 'howto.howto.list'|trans() %}
{% set pageDescription = 'howto.howto.description'|trans() %}
{% set pageImage = asset('banner-howtos-600x376.jpg') %}
{% set pageSectionUrl = url('core_howto_list') %}
{% set pageSectionName = 'howto.howto.list'|trans %}

{% set navSection = 'howtos' %}
{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Howto/Howto:_list-topbar.part.html.twig' %}
{% endblock %}

{% block autopagerContainerInner %}
    <div class="panel panel-default" style="margin: 0 10px 20px 10px; text-align: center;">
        <div class="panel-body">
            💖 Découvrez ou redécouvrez les<a href="/pas-a-pas/?q=@author:%22sylvainlefrancomtois%22%20@sort-popular-likes:desc">inestimables contributions</a> de <a href="/@sylvainlefrancomtois" >Sylvain</a> à L'Air du Bois !
        </div>
    </div>
    {% include 'LadbCoreBundle:Howto/Howto:_list-n.part.html.twig' %}
{% endblock %}