{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set navSection = 'howtos' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':howto } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if plans.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Aucun plan n'est associé à ce pas à pas.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Wonder/Plan:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_howto_plans_filter' %}
            {% set filterPathParameters = { 'id':howto.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ howto.planCount }} {{ 'wonder.plan.choice.plans'|transchoice(howto.planCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Plan:_list-n.part.html.twig' %}
{% endblock %}