{% extends 'Common/Layout/_list.html.twig' %}

{% set pageUrl = url('core_plan_creations', { 'id':plan.id }) %}
{% set pageTitle = 'Créations associées à '~plan.title %}
{% set pageDescription = 'Créations associées au plan' %}

{% set navSection = 'plans' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header/_entity-header.part.html.twig' with { 'entity':plan } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if creations.count == 0 %}
        <div class="alert alert-info">
            Aucune création n'est associé à ce plan.
        </div>
    {% else %}
        {% embed 'Wonder/Creation:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_plan_creations_filter' %}
            {% set filterPathParameters = { 'id':plan.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ plan.creationCount }} {{ 'wonder.creation.choice.entities'|transchoice(plan.creationCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Wonder/Creation/_list-n.part.html.twig' %}
{% endblock %}