{% extends 'LadbCoreBundle:Common:_list-n.part.html.twig' %}

{# set questions #}
{# set nextPageUrl #}

{% block items %}
    {% for question in questions %}
        <div class="ladb-choice-row">
            <div class="ladb-thumbnail">
                <a href="{{ path('core_qa_question_show', { 'id':question.sluggedId }) }}" class="thumbnail" target="_blank">
                    <img src="{{ (question.mainPicture is not null ? question.mainPicture.webPath : 'empty_question.png')|imagine_filter('80x60o') }}">
                </a>
            </div>
            <div class="ladb-tools">
                <a href="#" class="btn btn-default" onclick="window.parent.questionAdded('{% filter escape('js') %}{% include 'LadbCoreBundle:Qa/Question:_form-thumbnail.part.html.twig' %}{% endfilter %}');">Choisir</a>
            </div>
            <div class="ladb-body">
                <h4 class="ladb-heading">{{ question.title }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}
