{% extends 'LadbCoreBundle:Core/Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.qa_questions'|trans() %}
{% set searchPath = path('core_qa_question_list') %}
{% set masonry = true %}
{% set masonryWide = true %}

{% block filtersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tag" data-label="Tag" data-editable="true" data-icon="tag" data-proposals-url="{{ path('core_search_typeahead_tags_json')|raw }}"><i class="ladb-icon-tag"></i> Tags</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="no-answer" data-label="Sans réponse" data-editable="false" data-icon="answer"><i class="ladb-icon-answer"></i> Sans réponse</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="without-positive-answer" data-label="Sans réponse validée" data-editable="false" data-icon="filter"><i class="ladb-icon-filter"></i> Sans réponse validée</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="with-positive-answer" data-label="Avec réponses validées" data-editable="false" data-icon="warning"><i class="ladb-icon-thumb-up"></i> Avec réponses validées</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="with-null-answer" data-label="Avec réponses non vérifiées" data-editable="false" data-icon="warning"><i class="ladb-icon-warning"></i> Avec réponses non vérifiées</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="with-undetermined-answer" data-label="Avec réponses indécises" data-editable="false" data-icon="warning"><i class="ladb-icon-warning"></i> Avec réponses indécises</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="with-negative-answer" data-label="Avec réponses rejettées" data-editable="false" data-icon="thumb-down"><i class="ladb-icon-thumb-down"></i> Avec réponses rejettées</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="author" data-label="Auteur" data-editable="true" data-unique="true" data-icon="user"><i class="ladb-icon-user"></i> Auteur</a></li>
{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="recent" data-label="Récents" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récents</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-views" data-label="Plus vus" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vus</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-likes" data-label="Préférés" data-unique="true" data-icon="like"><i class="ladb-icon-like"></i> Préférés</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-answers" data-label="Plus de réponses" data-unique="true" data-icon="answer"><i class="ladb-icon-answer"></i> Plus de réponses</a></li>
{% endblock %}

{% block searchboxShortcuts %}
    <li><a class="ladb-smartsearch-shortcut" data-query="@no-answer"><i class="ladb-icon-answer"></i> Sans réponse</a></li>
{% endblock %}
