
{# set question #}
{# set classes (facultative) #}
{# set noAuthor (facultative) #}

{% set noAuthor = noAuthor|default(false) %}

<div{% if classes is defined %} class="{{ classes }}"{% endif %}>
    <div>
        <i class="ladb-icon-question"></i> <a href="{{ path('core_qa_question_show', { 'id':question.sluggedId }) }}">{{ question.title }}</a>
    </div>
    {% if not noAuthor %}
        <small style="padding-left: 20px;">{% include 'LadbCoreBundle:Common:_author.part.html.twig' with { 'user':question.user } %}</small>
    {% endif %}
</div>
