{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set pageTitle = 'qa.question.list'|trans() %}
{% set pageDescription = 'qa.question.description'|trans() %}
{% set pageImage = asset('banner-questions-600x376.jpg') %}

{% set navSection = 'qa' %}
{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/qa.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Qa/Question:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Cette section vous permet de poser vos questions à la communauté. <a href="{{ path('core_faq_question_show', { 'id':'quest-ce-quune-question' }) }}" target="_blank">En savoir plus</a>.
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Qa/Question:_list-n.part.html.twig' %}
{% endblock %}