<div class="ladb-success">
{% include 'Knowledge/School/_testimonials-header.part.html.twig' %}
{% include 'Knowledge/School/Testimonial/_row.part.html.twig' %}
{% include 'Knowledge/School/_testimonials-footer.part.html.twig' with { 'userTestimonial':testimonial } %}
</div>