<div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <a href="{{ value.data }}" target="_blank" rel="noreferrer noopener"{% if itemprop is defined %} itemprop="{{ itemprop }}"{% endif %}><i class="ladb-icon-globe"></i> {{ value.data|ladb_url_beautify|raw }}</a>
</div>
