<div id="ladb_topbar" class="ladb-topbar ladb-no-print">
    <ul class="ladb-topbar-left">
        {% block topbarLeftContent %}
            <li class="ladb-hidden-mobile"><a href="{{ path('core_welcome') }}" class="ladb-home-link"><i class="ladb-icon-home ladb-icon-lg"></i></a></li>
        {% endblock %}
    </ul>
    <ul class="ladb-topbar-right">
        {% block topbarRightContent %}{% endblock %}
    </ul>
    <div class="ladb-topbar-brand">
        <a href="{{ path('core_welcome') }}"><span class="ladb-icon-logo"></span></a><span class="badge badge-danger">beta</span>
    </div>
</div>
