{% extends 'LadbCoreBundle:Common:_list-n.part.html.twig' %}

{# set notifications #}
{# set nextPageUrl #}

{% block items %}
    {% for notification in notifications %}
        {% include 'LadbCoreBundle:Core/Notification:_row-'~notification.activity.strippedName~'.part.html.twig' %}
        {% if notification.isFolder %}
            <div id="ladb_notification_children_{{ notification.id }}" class="ladb-notification-children collapse">
                <div class="ladb-notification-children-inner">
                    {% for child in notification.children %}
                        {% include 'LadbCoreBundle:Core/Notification:_row-'~child.activity.strippedName~'.part.html.twig' with { 'notification':child } %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
