{% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'notifications_modal', 'title':'<i class="ladb-icon-notifications"></i>&nbsp;'~('notification.list'|trans()), 'classes':'modal-infinit' } %}
    {% block bodyInner %}
        {% include 'LadbCoreBundle:Common:_loading.part.html.twig' with { 'noHidden':true } %}
    {% endblock %}
    {% block footerInner %}
        <div class="text-left" style="font-size: 80%;"> <a href="{{ path('core_faq_question_show', { 'id':'quest-ce-que-les-notifications-push'}) }}" class="pull-right">En savoir plus...</a><i class="ladb-icon-help"></i> Souhaitez-vous activer les notifications Push ?</div>
    {% endblock %}
{% endembed %}

