{# set notification #}
{# set icon (faciltative) #}
{# set url (faciltative) #}

<div id="ladb_notification_{{ notification.id }}" class="ladb-notification-row{% if notification.isListed and unlistedNotificationIds[notification.id] is not defined %} ladb-listed{% endif %}{% if notification.isShown %} ladb-shown{% endif %}" onclick="if (event.target.tagName != 'A' && $(event.target).parent().prop('tagName') != 'A' && event.button == 0) { document.location = '{{ path('core_notification_show', { 'id':notification.id }) }}'; }">
    {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':notification.activity.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true } only %}
    <div class="ladb-box">
        <div>{% block body %}{% endblock %}</div>
        <div>
            {% if not notification.isShown %}<span class="pull-right" data-tooltip="tooltip" title="{{ 'default.unviewed'|trans() }}"><i class="ladb-icon-bullet ladb-icon-lg" style="color: #f77f00;"></i></span>{% endif %}
            {% if icon is defined %}<i class="ladb-icon-{{ icon }}"></i>{% endif %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'entity':notification } %}
        </div>
    </div>
</div>