<div class="ladb-notification-webpush-tip">
    <div class="media">
        <div class="media-left"><i class="ladb-icon-help ladb-icon-lg"></i></div>
        <div class="media-body">Souhaitez-vous activer les notifications Push ?</div>
        <div class="media-right"><a href="{{ path('core_faq_question_show', { 'id':'quest-ce-que-les-notifications-push'}) }}" class="pull-right">En savoir plus...</a></div>
    </div>
</div>