<div class="ladb-success">
{% include 'LadbCoreBundle:Knowledge/Book:_reviews-header.part.html.twig' %}
{% include 'LadbCoreBundle:Knowledge/Book/Review:_row.part.html.twig' %}
{% include 'LadbCoreBundle:Knowledge/Book:_reviews-footer.part.html.twig' with { 'userReview':review } %}
</div>