{% extends 'LadbCoreBundle:Knowledge/Book/Review:_form.html.twig' %}

{% set formAction = path('core_knowledge_book_review_create', { 'id':book.id }) %}

{% block title %}<i class="ladb-icon-plus"></i> {{ 'knowledge.book.review.new'|trans() }}{% endblock %}

{% block buttons %}
    <div class="alert alert-info">
        <div class="media">
            <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
            <div class="media-body">
                <h4>A lire avant de publier</h4>
                <p>Cette critique vous permet d'exprimer de façon synthétique votre avis de lecteur sur le livre : '<strong>{{ book.title }}</strong>'.</p>
            </div>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.publish'|trans()), 'classes':'btn-primary' } %}
{% endblock %}
