<div class="ladb-success">
{% include 'LadbCoreBundle:Knowledge/School:_testimonials-header.part.html.twig' %}
{% include 'LadbCoreBundle:Knowledge/School/Testimonial:_row.part.html.twig' %}
{% include 'LadbCoreBundle:Knowledge/School:_testimonials-footer.part.html.twig' with { 'userTestimonial':testimonial } %}
</div>