
{# set searchType #}
{# set noMicrodata (falcultative) #}
{# set noMicrodataTag (falcultative) #}

{% set noMicrodata = noMicrodata|default(false) %}
{% set noMicrodataTag = noMicrodata or noMicrodataTag|default(false) %}

<a href="{% if entity is defined %}{{ ladb_entity_url_action(entity, 'list', true, true, { 'q':'@tag:"'~tag.name~'"' }) }}{% else %}#{% endif %}" class="ladb-tag" rel="tag nofollow">{% if not noMicrodataTag %}<span itemprop="keywords">{% endif %}{{ tag.name }}{% if not noMicrodataTag %}</span>{% endif %}</a>