parameters:
    database_driver:                pdo_mysql
    database_host:                  localhost
    database_port:                  null
    database_name:                  db_fr_lairdubois_www
    database_user:                  YOUR_DATABASE_USER
    database_password:              YOUR_DATABASE_PASSWORD
    database_path:                  null

    mailer_transport:               smtp
    mailer_host:                    YOUR_MAILER_HOST
    mailer_user:                    YOUR_MAILER_USER
    mailer_password:                YOUR_MAILER_PASSWORD

    elasticsearch_host:             localhost
    elasticsearch_port:             9200

    websocket_host:                 127.0.0.1
    websocket_port:                 8080
    websocket_uri:                  wss://www.lairdubois.fr:8443

    locale:                         fr
    secret:                         THIS_TOKEN_IS_NOT_SECRET_CHANGE_IT
    admin_username:                 admin
    ga_tracking_id:                 YOUR_GOOGLE_ANALYTICS_TRACKING_CODE

    router.request_context.host:    www.lairdubois.fr
    router.request_context.scheme:  https

    node:                           /usr/bin/node
    node_paths:                     [/usr/lib/node_modules/]

    google_api_key:                 YOUR_GOOGLE_API_KEY

    twitter_consumer_key:           YOUR_TWITTER_CONSUMER_KEY
    twitter_consumer_secret:        YOUR_TWITTER_CONSUMER_SECRET
    twitter_access_token:           YOUR_TWITTER_ACCESS_TOKEN
    twitter_access_secret:          YOUR_TWITTER_ACCESS_SECRET

    facebook_app_id:                YOUR_FACEBOOK_APP_ID
    facebook_app_secret:            YOUR_FACEBOOK_APP_SECRET
    facebook_page_id:               YOUR_FACEBOOK_PAGE_ID
    facebook_access_token:          YOUR_FACEBOOK_ACCESS_TOKEN

    pinterest_client_id:            YOUR_PINTEREST_CLIENT_ID
    pinterest_client_secret:        YOUR_PINTEREST_CLIENT_SECRET
    pinterest_access_token:         YOUR_PINTEREST_ACCESS_TOKEN

    stripe_secret_key:              YOUR_STRIPE_SECRET_KEY
    stripe_publishable_key:         YOUR_STRIPE_PUBLISHABLE_KEY

    funding_min_amount_eur:         1
    funding_max_amount_eur:         100
