{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{% set entity = workflow %}

{% block title %}<i class="ladb-icon-workflow"></i> {{ parent() }}{% endblock %}

{% block body %}
    <div>{{ workflow.tasks|length }} tâches</div>
    {% include 'LadbCoreBundle:Workflow:_workflow-status-panel.part.html.twig' %}
{% endblock %}

{% block imageOuter %}{% endblock %}