{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'workflow.workflow.list'|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Workflow:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_workflow_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'workflow.workflow.new'|trans() }}</span></a>
{% endblock %}