<div class="ladb-box ladb-status-{{ task.status }}">
    <button class="ladb-btn-done pull-left"{% if task.status < constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') %} disabled{% endif %}>
        {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE') %}<i class="ladb-icon-check"></i>{% endif %}
    </button>
    <div class="ladb-minitools pull-right">
        <button class="ladb-minitools-btn ladb-btn-remove"><i class="ladb-icon-delete ladb-icon-lg"></i></button>
        <button class="ladb-minitools-btn ladb-btn-edit"><i class="ladb-icon-edit ladb-icon-lg"></i></button>
    </div>
    <div class="ladb-body">{{ task.title }}</div>
</div>
