<div id="ladb_workflow_task_widget_{{ task.id }}" class="ladb-workflow-task-widget{% if readOnly %} ladb-readonly{% endif %}" style="left: {{ task.positionLeft }}px; top: {{ task.positionTop }}px;">
    {% include 'LadbCoreBundle:Workflow:_task-box.part.html.twig' %}
    <div class="ladb-ep ladb-icon-arrow-down"></div>
</div>