<div id="ladb_workflow_status_panel" style="font-size: 120%; font-weight: bold; text-align: center">
    <i class="ladb-icon-time"></i> <span id="ladb_workflow_duration">{{ workflow.duration|ladb_duration() }}</span>
</div>