{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set navSection = 'workflows' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if creations.count == 0 %}
        <div class="alert alert-info">
            Aucune création n'est associée à ce processus.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Wonder/Creation:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_workflow_creations_filter' %}
            {% set filterPathParameters = { 'id':workflow.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ workflow.creationCount }} {{ 'wonder.creation.choice.creations'|transchoice(workflow.creationCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Creation:_list-n.part.html.twig' %}
{% endblock %}