{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set navSection = 'workflows' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if rebounds.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Ce processus n'a aucun rebond
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Workflow:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_workflow_rebounds_filter' %}
            {% set filterPathParameters = { 'id':workflow.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ workflow.reboundCount }} {{ 'default.choice.rebounds'|transchoice(workflow.reboundCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Workflow:_list-n.part.html.twig' with { 'workflows':rebounds } %}
{% endblock %}