{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageTitle = 'knowledge.wood.list'|trans() %}
{% set pageDescription = 'knowledge.wood.description'|trans() %}
{% set pageImage = asset('banner-woods-600x376.jpg') %}
{% set pageSectionUrl = url('core_wood_list') %}
{% set pageSectionName = 'knowledge.wood.list'|trans %}

{% set navSection = 'woods' %}
{% set masonry = true %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Knowledge/Wood:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Cette <a href="{{ path('core_faq_question_show', { 'id':'qu-est-ce-que-la-xylotheque' }) }}">xylothèque</a> est complétée et contrôlée collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}">apportez vos propositions</a> !
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Knowledge/Wood:_list-n.part.html.twig' %}
{% endblock %}
