{#{% extends "::base.html.twig" %}#}
{% extends 'LadbCoreBundle::layout.html.twig' %}

{% set pageType = 'video' %}
{% set pageTitle = data.title %}
{% set pageDescription = data.description %}
{% set pageAuthor = data.uploader %}
{% set pageImage = data.thumbnail_loc %}
{% set pageVideo = 'https://www.youtube.com/v/'~embedIdentifier %}

{% set hideHeaderContainer = false %}
{% set bodyContainerClasses = 'ladb-margin-top' %}

{% block bodyHeaderContainerContent %}
    <div class="ladb-avatar-header">
        <div class="ladb-body">
            <h1 class="ladb-heading">{{ pageTitle }}</h1>
            {% block subheading %}<span class="ladb-subheading">{{ pageAuthor }}</span>{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyContainerContent %}
    {{ ladb_video_player_frame(kind, embedIdentifier, 560, 420, 'ladb-margin-bottom thumbnail')|raw }}
{% endblock %}