{% extends 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}

{% set entity = book %}
{% set headingClasses = book.titleRejected ? 'ladb-strikethrough' : null %}

{% block subheadingInner %}
    {% if book.author %}<div class="ladb-subblock">de {% for author in book.author|split(',') %}<a href='{{ path('core_book_list') }}?q=@author:"{{ author }}"'>{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div> {% endif %}
    {% if book.editor %}<div class="ladb-subblock{% if book.author %} ladb-horizontal-separator-left{% endif %}"><em>{{ book.editor }}</em></div>{% endif %}
{% endblock %}