{# set classes (facultative) #}
{# set hideValue (facultative) #}

{% set hideValue = hideValue|default(false) %}

<span class="ladb-rating-stars{% if classes is defined %} {{ classes }}{% endif %}" style="display: inline-block; line-height: 14px; color: #b3b3b3;">
    <i class="ladb-icon-spotlight"{% if book.averageRating >= 1 %} style="color: #FEDC53;"{% endif %}></i>
    <i class="ladb-icon-spotlight"{% if book.averageRating >= 2 %} style="color: #FEDC53;"{% endif %}></i>
    <i class="ladb-icon-spotlight"{% if book.averageRating >= 3 %} style="color: #FEDC53;"{% endif %}></i>
    <i class="ladb-icon-spotlight"{% if book.averageRating >= 4 %} style="color: #FEDC53;"{% endif %}></i>
    <i class="ladb-icon-spotlight"{% if book.averageRating >= 5 %} style="color: #FEDC53;"{% endif %}></i>
    {% if not hideValue %}
        <small>( {{ book.averageRating|number_format(1, ',', ' ') }} / 5 )</small>
    {% endif %}
</span>
