{# set book #}

<div class="ladb-reviews-footer">
    {% if userReview %}
        <div class="alert alert-info text-center">
            <p>Vous avez déjà apporté votre critique. <a onclick="$('#ladb_review_{{ userReview.id }}').ladbScrollTo(); return false;" class="alert-link">(Voir ma critique)</a></p>
        </div>
    {% else %}
        {% if book.reviewCount == 0 %}
            <div class="panel panel-info text-center">
                <div class="panel-body">Ce livre ne possède pour l'instant aucune critique de lecteur.<br>Soyez le premier à ajouter la votre !</div>
            </div>
        {% endif %}
        <div class="ladb-btns-bar">
            {% if is_granted("ROLE_USER") %}
                <button id="ladb_review_btn" class="btn btn-primary btn-lg" data-loading-text="{{ 'default.loading'|trans() }}"><i class="ladb-icon-plus"></i> {{ 'knowledge.book.review.new'|trans() }}</button>
            {% else %}
                <a href="{{ path('core_smartlogin') }}" rel="nofollow"><i class="ladb-icon-lock"></i> Connectez-vous</a> pour ajouter votre critique.
            {% endif %}
        </div>
    {% endif %}
</div>
