{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageTitle = 'knowledge.book.list'|trans() %}
{% set pageDescription = 'knowledge.book.description'|trans() %}
{% set pageImage = asset('banner-books-600x376.jpg') %}
{% set pageSectionUrl = url('core_book_list') %}
{% set pageSectionName = 'knowledge.book.list'|trans %}

{% set navSection = 'books' %}
{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Knowledge/Book:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Ce <a href="{{ path('core_faq_question_show', { 'id':'quest-ce-que-le-catalogue-livres' }) }}" target="_blank">catalogue</a> est complété et contrôlé collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}" target="_blank">apportez vos propositions</a> !
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Knowledge/Book:_list-n.part.html.twig' %}
{% endblock %}
