{# set entity #}

{% if entity.spotlight is defined and entity.spotlight is not null and entity.spotlight.enabled %}<span class="pull-right" data-tooltip="tooltip" title="{{ 'default.spotlight_tooltip'|trans({ '%age%':(entity.spotlight.createdAt|ago()) }) }}"><i class="ladb-icon-spotlight" style="color: #333;"></i>&nbsp;</span>{% endif %}
