{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'knowledge.provider.list'|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{% if is_granted('ROLE_USER') and not app.user.emailConfirmed %}#not_email_confirmed_knowledge_modal" data-toggle="modal"{% else %}{{ path('core_provider_new') }}"{% endif %} class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'knowledge.provider.new'|trans() }}</span></a>
    {% if is_granted('ROLE_USER') and not app.user.emailConfirmed %}
        {% include 'LadbCoreBundle:Knowledge:_new-not-email-confirmed-modal.part.html.twig' with { 'title':'knowledge.provider.new'|trans() } %}
    {% endif %}
{% endblock %}