{% extends 'Offer/Offer/_form.html.twig' %}

{% set pageTitle = 'offer.offer.edit'|trans() %}
{% set formAction = path('core_offer_update', { 'id':offer.id }) %}

{% block sidenavHeading %}
    <i class="ladb-icon-edit"></i> {{ 'offer.offer.edit'|trans() }}
{% endblock %}

{% block form_buttons %}
    <a href="{{ path('core_offer_show', { 'id':offer.sluggedId }) }}" class="btn btn-default btn-block">{{ 'default.close'|trans() }}</a>
    {% include 'Common/_form-btn-loading.part.html.twig' with { 'text':('default.update'|trans()), 'classes':'ladb-form-save-btn btn-primary btn-block' } %}
{% endblock %}

{% block sections %}
    {% if offer.isDraft %}
        {% include 'Offer/Offer/_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}
