{% extends 'Common/Layout/_form.html.twig' %}

{% set navSection = 'collections' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'Core/Picture/_form-gallery-script.part.html.twig' with { 'formSection':'mainPicture', 'fieldId':form.mainPicture.vars.id, 'maxPictureCount':1 } %}
    {% include 'Common/_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {% include 'Common/_form-sidenav-title.part.html.twig' %}
    {% if collection is not defined %}<div style="display:none">{% endif %}
        {% include 'Core/Picture/_form-sidenav-gallery.part.html.twig' with { 'formSection':'mainPicture', 'title':('default.picture'|trans()) } %}
    {% if collection is not defined %}</div>{% endif %}
    {% include 'Common/_form-sidenav-body.part.html.twig' %}
    {% if collection is not defined %}<div style="display:none">{% endif %}
        {% include 'Core/Tag/_form-sidenav.part.html.twig' %}
    {% if collection is not defined %}</div>{% endif %}
{% endblock %}

{% block sections %}
    {{ parent() }}
    {% include 'Common/_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('collection.collection.form.help.title'|trans()) } %}
    {% if collection is not defined %}<div style="display:none">{% endif %}
        {% include 'Core/Picture/_form-section-gallery.part.html.twig' with { 'mandatory':false, 'formSection':'mainPicture', 'formPictures':form.mainPicture, 'pictures':(form.vars.data.mainPicture is null ? [] : [ form.vars.data.mainPicture ]), 'maxPictureCount':1, 'title':('default.picture'|trans()), 'help':('collection.collection.form.help.main_picture'|trans()), 'hideTextOverlayWarning':true } %}
    {% if collection is not defined %}</div>{% endif %}
    {% include 'Common/_form-section-body.part.html.twig' with { 'mandatory':(collection is defined ? collection.isPublic : false), 'help':('collection.collection.form.help.body'|trans()) } %}
    {% if collection is not defined %}<div style="display:none">{% endif %}
        {% include 'Core/Tag/_form-section.part.html.twig' with { 'mandatory':(collection is defined ? collection.isPublic : false), 'help':('collection.collection.form.help.tags'|trans()) } %}
    {% if collection is not defined %}</div>{% endif %}
{% endblock %}
