{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'qa.question.list'|trans() %}
{% set headingLevel = 2 %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Qa:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_qa_question_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'qa.question.new'|trans() }}</span></a>
{% endblock %}
