{% extends 'LadbCoreBundle:Qa:_answer-form.html.twig' %}

{% set formAction = path('core_qa_answer_update', { 'id':answer.id }) %}

{% block footerInner %}
    {{ parent() }}
    <button class="btn btn-primary ladb-btn-submit">{{ 'default.save'|trans() }}</button>
{% endblock %}
