{% extends 'LadbCoreBundle:Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.creations'|trans() %}
{% set searchPath = path('core_creation_list', routeParameters) %}
{% set noAjax = homepage|default(false) %}
{% set masonry = layout == 'view' %}

{% block filtersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="woods" data-label="Essences" data-editable="true" data-icon="wood" data-proposals-url="{{ path('core_search_typeahead_input_woods_json')|raw }}"><i class="ladb-icon-wood"></i> Essences</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tools" data-label="Outils" data-editable="true" data-icon="tool" data-proposals-url="{{ path('core_search_typeahead_input_tools_json')|raw }}"><i class="ladb-icon-tool"></i> Outils</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="finishes" data-label="Finitions" data-editable="true" data-icon="finish" data-proposals-url="{{ path('core_search_typeahead_input_finishes_json')|raw }}"><i class="ladb-icon-finish"></i> Finitions</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tag" data-label="Tag" data-editable="true" data-icon="tag" data-proposals-url="{{ path('core_search_typeahead_tags_json')|raw }}"><i class="ladb-icon-tag"></i> Tags</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-plans" data-label="Avec plan" data-unique="true" data-icon="plan"><i class="ladb-icon-plan"></i> Avec plan</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-howtos" data-label="Avec pas à pas" data-unique="true" data-icon="howto"><i class="ladb-icon-howto"></i> Avec pas à pas</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-providers" data-label="Avec fournisseur" data-unique="true" data-icon="provider"><i class="ladb-icon-provider"></i> Avec fournisseur</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-videos" data-label="Avec vidéo" data-unique="true" data-icon="video"><i class="ladb-icon-video"></i> Avec vidéo</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="author" data-label="Auteur" data-editable="true" data-unique="true" data-icon="user"><i class="ladb-icon-user"></i> Auteur</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="license" data-label="Licence" data-editable="true" data-unique="true" data-icon="cc" data-proposals="by,by-nc,by-nc-nd,by-nc-sa,by-nd,by-sa"><i class="ladb-icon-cc"></i> Licence</a></li>
{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="recent" data-label="Récentes" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récentes</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-views" data-label="Plus vues" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vues</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-likes" data-label="Préférées" data-unique="true" data-icon="like"><i class="ladb-icon-like"></i> Préférées</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-comments" data-label="Plus commentées" data-unique="true" data-icon="comment"><i class="ladb-icon-comment"></i> Plus commentées</a></li>
{% endblock %}

{% block searchboxShortcutsOuter %}{% endblock %}