{% extends 'Core/Notification:_email.html.twig' %}

{# set row #}

{% block rowContent %}
    <p style="margin: 5px 0 5px 0;">
        <strong>{{ row.actorUser.displayname }}</strong> aime {{ ('notification.'~(row.entity.user is defined and row.entity.user == recipientUser ? 'your' : 'the')~'.'~ladb_entity_type_stripped_name(row.entity))|trans() }} <em>{{ row.entity.title }}</em>.
    </p>
    <table cellspacing="10" cellpadding="0">
        <tbody>
        {% include 'Common/_entity-email-row.part.html.twig' with { 'entity':row.entity } %}
        </tbody>
    </table>
{% endblock %}