{% extends 'Common/Layout/_list.html.twig' %}

{% set pageUrl = url('core_creation_rebounds', { 'id':creation.id }) %}
{% set pageTitle = 'Rebonds de '~creation.title %}
{% set pageDescription = 'Rebonds de la création' %}

{% set navSection = 'creations' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header/_entity-header.part.html.twig' with { 'entity':creation } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if creations.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Cette création n'a aucun rebond
        </div>
    {% else %}
        {% embed 'Wonder/Creation/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_creation_rebounds_filter' %}
            {% set filterPathParameters = { 'id':creation.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ creation.reboundCount }} {{ 'default.choice.rebounds'|transchoice(creation.reboundCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Wonder/Creation/_list-n.part.html.twig' %}
{% endblock %}