{# set reviewContext { 'entityType', 'entityId', 'reviewCount', 'reviews', 'isReviewable' } #}

<hr class="ladb-divider">
<div id="ladb_review_widget" class="ladb-review-widget ladb-show-content-section">
    {% include 'Core/Review/_reviews-header.part.html.twig' %}
    <div class="ladb-knowledge-book-reviews">
        {% for review in reviewContext.reviews %}
            {% include 'Core/Review/_row.part.html.twig' %}
        {% endfor %}
    </div>
    {% include 'Core/Review/_reviews-footer.part.html.twig' with { 'userReview':reviewContext.userReview } %}
</div>