
{% set noLazyLoad = true %}

<div class="ladb-success">
{% include 'Core/Review/_reviews-header.part.html.twig' %}
{% include 'Core/Review/_row.part.html.twig' %}
{% include 'Core/Review/_reviews-footer.part.html.twig' with { 'userReview':review } %}
</div>