{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% if authored %}
        {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' %}
    {% else %}
        {% include 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}
    {% endif %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="ladb-filterbar ladb-filterbar-line">
        <span class="ladb-heading pull-right">{{ likes.count }} {{ 'like.choice.likes'|transchoice(likes.count) }}</span>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Core/Like:_list-byentity-n.part.html.twig' %}
{% endblock %}