<div class="panel panel-default" style="min-height: 311px;">
    <div class="panel-heading">
        <h4>Pourquoi contribuer ?</h4>
    </div>
    <div class="panel-body">
        <em>L'Air du Bois</em> a fait le pari de financer ses frais de fonctionnement uniquement sur des dons volontaires.
        <ul>
            <li>Pour permettre à d'autres de partager leur passion</li>
            <li>Pour rester indépendant</li>
            <li>Pour être libre</li>
        </ul>
        <div style="margin: 20px 0;">
            <div class="ladb-funding-widget">
                <form action="{{ path('core_funding_new') }}" class="form-inline text-center" method="get">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input name="amount_eur" id="ladb_donate_amount_input" type="text" class="form-control input-lg text-right" maxlength="3" size="3" value="{{ amountEur|default(5) }}">
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                    <button id="ladb_donate_btn" class="btn btn-primary btn-lg">Faire un don</button>
                </form>
                {% if is_granted("ROLE_USER") %}
                    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'new_modal', 'title':('funding.donate'|trans()) } %}
                        {% block bodyInner %}
                            {{ 'default.loading'|trans() }}
                        {% endblock %}
                        {% block footer %}{% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
