{% extends 'LadbCoreBundle:Funding:_layout.html.twig' %}

{% set tab = 'dashboard' %}
{% set amount = 100 %}

{% block headStylesheets %}
    {{ parent() }}
    <style>
        .shake {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    </style>
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-circle-progress/jquery.circle-progress.js'
        '@LadbCoreBundle/Resources/assets/js/jquery-payment/jquery.payment.js' %}
        <script type="text/javascript" src="{{ asset_url }}?v=201609011842"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        $(document).ready(function() {

            // Circle /////

            $('#circle').circleProgress({
                value: 0.42,
                size: 400,
                thickness: 20,
                startAngle: -Math.PI / 2,
                fill: {
                    color: ["#5cb85c"], //"#f77f00"]
                }
            }).on('circle-animation-progress', function(event, progress) {
                $(this).find('span:first').html(parseInt(42 * progress));
            });

            // Setup payment form /////

            $('input.cc-number').payment('formatCardNumber');
            $('input.cc-exp').payment('formatCardExpiry');
            $('input.cc-cvc').payment('formatCardCVC');

            $.fn.toggleInputError = function(erred) {
                this.parent('.form-group').toggleClass('has-error', erred);
                return this;
            };

            // Validate payment form /////

            $('#pay_button').on('click', function() {

                var cardType = $.payment.cardType($('.cc-number').val());
                $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
                $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
                $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
                $('.cc-brand').text(cardType);
                $('#donate_modal .modal-content').removeClass('shake');
                if ($('.has-error').length) {
                    $('#donate_modal .modal-content').addClass('shake');
                } else {

                    var $form = $('#payment-form');

                    Stripe.setPublishableKey('pk_test_toeDHC0usy5koMdwC8yJr8wE');

                    // Request a token from Stripe:
                    Stripe.card.createToken($form, function(status, response) {
                        if (response.error) { // Problem!

                            // Show the errors on the form:
                            $form.find('.payment-errors').text(response.error.message);

                        } else { // Token was created!

                            // Get the token ID:
                            var token = response.id;

                            console.log("token = " + token);

                        }
                    });

                }

            });

        });
    </script>
{% endblock %}

{% block bodyContainerContent %}
    <div class="row">
        <br/>
        <div class="col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-left"><i class="ladb-icon-chevron-left"></i></span>
                    <span class="pull-right"><i class="ladb-icon-chevron-right"></i></span>
                    <h2 style="text-align: center; margin-top: 10px;">Septembre 2016</h2>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding: 20px;">
                        <div id="circle" style="position: relative;" class="col-xs-8">
                            <i class="ladb-icon-piggy" style="font-size: 290px; position: absolute; top: 55px; left: 65px; color: #555555;"></i>
                            <div style="position: absolute; top: 0; left: 0; line-height: 400px; width: 400px; text-align: center; color: white;">
                                <span style="font-size: 50px;"></span><span style="font-size: 30px;">%</span>
                            </div>
                        </div>
                        <div style="font-size: 160%" class="col-xs-4 text-right">
                            <small>Charges</small>&nbsp;:&nbsp;<strong class="ladb-color-negative">22,00€</strong>
                            <small>Dons</small>&nbsp;:&nbsp;<strong class="ladb-color-positive">9,24€</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p>Par volonté d'indépendance, <em>L'Air du Bois</em> a fait le pari de fonctionner sans faire appel à la publicité.</p>
            <div class="text-center">
                {#<button id="customButton" class="btn btn-lg btn-primary"><i class="ladb-icon-donate"></i> Faire un don</button>#}
                <h2>Je donne</h2>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control input-lg" value="5" style="width: 50px;">
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" onclick="$('#donate_modal').modal(); return false;">Faire un don</button>
                </form>
            </div>
        </div>
    </div>
    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'donate_modal', 'title':('funding.donate'|trans()) } %}
        {% block bodyInner %}
            <p>Vous êtes sur le point de faire un don de XX euros pour soutenir le projet <em>L'Air du Bois</em>.</p>
            <br/>

            <div class="row">
                <div class="col-md-10 col-md-push-1 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="ladb-icon-credit-card ladb-icon-lg"></i> Paiement par carte bancaire
                        </div>
                        <div class="panel-body">
                            <form id="payment-form">
                                <span class="payment-errors"></span>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="cc-number" class="control-label">Numéro de carte <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
                                        <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required data-stripe="number">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="cc-exp" class="control-label">Date d'expiration</label>
                                        <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" required  data-stripe="exp">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="cc-cvc" class="control-label">Cryptogramme visuel</label>
                                        <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required data-stripe="cvc">
                                    </div>
                                </div>
                            </form>
                            <p class="help-block text-center">La transation de paiement est assurée par <a href="https://stripe.com">Stripe</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
        {% block footerInner %}
            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
            <a id="pay_button" href="#" class="btn btn-primary">Payer 5€</a>
        {% endblock %}
    {% endembed %}
{% endblock %}