{% extends 'LadbCoreBundle:Common:Modal/_modal-content.part.html.twig' %}

{% set id = 'new_modal' %}
{% set title = 'funding.donate'|trans() %}

{% block bodyInner %}
    <div class="text-center">
        <div>
            <i class="ladb-icon-donate ladb-color-positive" style="font-size: 100px;"></i>
        </div>
        <br>
        <p class="text-center">
            Le paiement de votre don de <strong>{{ amountEur|number_format(2, ',', ' ') }}€</strong> a bien été enregistré.
            <br>
            Merci pour votre soutien au projet <em>L'Air du Bois</em> !
        </p>
        <p class="text-center"><small class="help-block">Vous receverez un reçu par email à l'adresse <strong>{{ app.user.emailCanonical }}</strong></small></p>
    </div>
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
{% endblock %}