{% extends 'LadbCoreBundle:Funding:_layout.html.twig' %}

{% use 'LadbCoreBundle:Common:_list-autopager.blocks.html.twig' %}

{% set tab = 'donors' %}

{% set masonry = false %}
{% set masonryWide = false %}
{% set noStickyHeader = true %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('autopagerScript') }}
{% endblock %}

{% block bodyContainerContent %}
    {% embed 'LadbCoreBundle:Common:_list-filterbar.part.html.twig' with { 'classes':'ladb-filterbar-line' } %}
        {% set filterDefs = {} %}
        {% block filterbarRightContent%}
            <span class="ladb-heading">{{ userCount }} {% transchoice userCount %}[0,1]donateur|]1,Inf]donateurs{% endtranschoice %}</span>
        {% endblock %}
    {% endembed %}
    {{ block('autopagerContainer') }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:User:_list-n.part.html.twig' %}
{% endblock %}