{% extends 'LadbCoreBundle:Common:_modal-content.part.html.twig' %}

{% set id = 'infos_modal' %}
{% set title = 'funding.donation_balance'|trans()~' - '~(('month.long.'~(funding.date|date('M')|lower))|trans({}, 'date'))|capitalize~' '~funding.year %}

{% block bodyInner %}
    <p>Les dons nets représentent la somme des dons effectués sur le mois à laquelle sont retranchés les frais de transaction.</p>
    {% if funding.donationCount > 0 %}
        <p>Ce mois compte <strong>{{ funding.donationCount }}</strong> don{% if funding.donationCount > 1 %}s{% endif %} cumulant <strong>{{ funding.donationBalanceEur|number_format(2, ',' ,' ') }}€</strong> net.
        {% if funding.donationCount > 1 %}<br>Soit un don net moyen de <strong>{{ (funding.donationBalanceEur / funding.donationCount)|number_format(2, ',' ,' ') }}€</strong>{% endif %}
        </p>
    {% else %}
        <p>Ce mois ne nompte <strong>aucun</strong> don.</p>
    {% endif %}
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
{% endblock %}