{% extends 'LadbCoreBundle:Common:_modal-content.part.html.twig' %}

{% set id = 'infos_modal' %}
{% set title = 'funding.donation_fee_balance'|trans()~' - '~(('month.long.'~(funding.date|date('M')|lower))|trans({}, 'date'))|capitalize~' '~funding.year %}

{% block bodyInner %}
    <p>Les <em>frais de transaction</em> représentent la somme des frais prélevés par la plateforme de paiement <a href="https://stripe.com/fr/pricing">Stripe</a> pour le mois.</p>
    <p>Cette somme est variable, puisque directement corrélée avec le nombre et la valeur des transactions.</p>
    {% if funding.donationFeeBalanceEur > 0 %}
        <p>Ce mois compte <strong>{{ funding.donationFeeBalanceEur|number_format(2, ',', ' ') }}€</strong> de frais de transaction.</p>
    {% else %}
        <p>Ce mois ne compte <strong>aucun</strong> frais de transaction.</p>
    {% endif %}
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
{% endblock %}