{% extends 'LadbCoreBundle::email-layout.html.twig' %}

{% block content %}
    <p>Le paiement de votre don de <strong>{{ donation.amountEur|number_format(2, ',', ' ') }}€</strong> effectué le <strong>{{ donation.createdAt|date("d/m/Y") }}</strong> à <strong>{{ donation.createdAt|date("H:i") }}</strong> avec la référence <strong>{{ donation.hashid }}</strong> a bien été enregistré.</p>
    <p>Merci pour votre soutien au projet <em>L'Air du Bois</em> !</p>
{% endblock %}