{% extends 'Common/_list-n.part.html.twig' %}

{# set howtos #}
{# set nextPageUrl #}

{% block items %}
    {% for howto in howtos %}
        <div class="ladb-choice-row">
            <div class="ladb-thumbnail">
                <a href="{{ path('core_howto_show', { 'id':howto.sluggedId }) }}" class="thumbnail" target="_blank">
                    <img src="{{ (howto.mainPicture is not null ? howto.mainPicture.webPath : 'avatar.png')|imagine_filter('80x60o') }}">
                </a>
            </div>
            <div class="ladb-tools">
                <a href="#" class="btn btn-default" onclick="window.parent.howtoAdded('{% apply escape('js') %}{% include 'Howto/Howto/_form-thumbnail.part.html.twig' %}{% endapply %}');">Choisir</a>
            </div>
            <div class="ladb-body">
                <h4 class="ladb-heading">{{ howto.title }}</h4>
                <span class="ladb-subheading">
                    par {% include 'Core/User/_displayname-link.part.html.twig' with { 'user':howto.user } %}<small class="ladb-age">{{ howto.createdAt|ago() }}</small>
                </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}
