{% extends 'Common/Layout/_list.html.twig' %}

{% set pageUrl = url('core_howto_workshops', { 'id':howto.id }) %}
{% set pageTitle = 'Ateliers associés à '~howto.title %}
{% set pageDescription = 'Ateliers associés au pas à pas' %}

{% set navSection = 'howtos' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header:_entity-header.part.html.twig' with { 'entity':howto } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if workshops.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Aucun atelier n'est associé à ce pas à pas.
        </div>
    {% else %}
        {% embed 'Wonder/Workshop:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_howto_workshops_filter' %}
            {% set filterPathParameters = { 'id':howto.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ howto.workshops.count }} {{ 'wonder.workshop.choice.entities'|transchoice(howto.workshops.count) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Wonder/Workshop:_list-n.part.html.twig' %}
{% endblock %}