{# set license #}

<div class="ladb-license-badge"><a rel="license" href="{{ license.contentUrl }}" target="_blank" rel="noreferrer noopener"><img alt="Licence Creative Commons" src="{{ asset(license.badgeUrl) }}" /></a></div>
<p class="ladb-license-link ladb-license-link-modal">Cette contribution sera mise à disposition selon les termes de la <a rel="license" href="{{ license.contentUrl }}" target="_blank" rel="noreferrer noopener">{{ ('license.v'~license.version~'.'~license.strippedName)|trans() }}</a>.</p>
