{# set entity #}

{% if entity.spotlight is not null and entity.spotlight.enabled %}
    <div class="ladb-spotlight-badge" data-popover="popover" data-popover="popover" data-trigger="hover" data-placement="top" data-html="true" data-container="body" data-content="{{ 'default.spotlight_popover'|trans({ '%age%':(entity.spotlight.createdAt|time_diff()) }) }}">
        <a href="{{ path('core_faq_question_show', { 'id':'quest-ce-quun-coup-de-projecteur' }) }}" target="_blank"><i class="ladb-icon-spotlight"></i> {{ 'default.spotlight'|trans() }}</a>
    </div>
{% endif %}
