
{# set entityType #}
{# set entityId #}

<a href="#report_modal" onclick="LADBReports.ladbReportPrepareModal({{ entityType }}, {{ entityId }});return false;" data-toggle="modal" data-tooltip="tooltip" title="{{ 'report.create'|trans() }}"><i class="ladb-icon-flag"></i></a>
