
{# set formSection (facultative) #}
{# set title (facultative)  #}
{# set icon (facultative) #}

{% set formSection = formSection|default('body_blocks') %}
{% set title = title|default('default.body'|trans()) %}
{% set icon = icon|default('body') %}

<li id="{{ formSection }}_sidenav"><a href="#{{ formSection }}"><i class="ladb-icon-{{ icon }}"></i> {{ title }}</a></li>