{# set entity #}

{% set i18nPrefix = i18nPrefix|default(ladb_entity_type_stripped_name(entity)) %}

<div class="ladb-meta{% if entity.reviewCount == 0 %} text-muted{% endif %}">
    <a href="#" class="ladb-scrollto-btn" onclick="$('#ladb_review_widget').ladbScrollTo(event);"><i class="ladb-icon-arrow-down"></i></a>
    <i class="ladb-icon-review ladb-icon-fixed-center"></i>
    <a href="#" onclick="$('#ladb_review_widget').ladbScrollTo(event);">
        <strong>{{ entity.reviewCount|number_format(0, ',', ' ') }}</strong>
        <small>{{ ('review.'~i18nPrefix~'.choice.entities')|transchoice(entity.reviewCount) }}</small>
    </a>
    {% if entity.averageRating > 0 %}{% include 'LadbCoreBundle:Common:_rating-stars.part.html.twig' with { 'rating':entity.averageRating, 'ratingCount':entity.reviewCount, 'classes':'ladb-horizontal-separator-left' } %}{% endif %}
</div>
