{# set entity #}

{% set i18nPrefix = i18nPrefix|default(ladb_entity_type_stripped_name(entity)) %}

{% if entity.reviewCount > 0 %}
    <li class="ladb-counter">
        <span class="ladb-horizontal-separator-right" style="color: #888;"><i class="ladb-icon-review"></i> {{ entity.reviewCount|number_format(0, ',', ' ') }} {{ ('review.'~i18nPrefix~'.choice.reviews')|transchoice(entity.reviewCount) }}</span>
        {% if entity.averageRating > 0 %}
            {% include 'LadbCoreBundle:Common:_rating-stars.part.html.twig' with { 'rating':entity.averageRating, 'classes':'ladb-horizontal-separator-right', 'hideValue':true } %}
        {% endif %}
    </li>
{% endif %}
