
{% set noLazyLoad = true %}

<div class="ladb-success">
{% include 'LadbCoreBundle:Core/Review:_reviews-header.part.html.twig' %}
{% include 'LadbCoreBundle:Core/Review:_row.part.html.twig' %}
{% include 'LadbCoreBundle:Core/Review:_reviews-footer.part.html.twig' with { 'userReview':review } %}
</div>