{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set navSection = 'plans' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':plan } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if rebounds.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Ce plan n'a aucun rebond
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Common:_list-filterbar.part.html.twig' %}
            {% set filterDefs = {
                'recent':   { 'label':'Récents', 'path':path('core_plan_inspirations_filter', { 'id':plan.id, 'filter':'recent' }) },
                'popular':  { 'label':'Populaires', 'path':null,
                                'subFilterDefs': {
                                    'popular-views':    { 'label':'Plus vus', 'icon':'eye', 'path':path('core_plan_inspirations_filter', { 'id':plan.id, 'filter':'popular-views' }) },
                                    'popular-likes':    { 'label':'Préférés', 'icon':'like', 'path':path('core_plan_inspirations_filter', { 'id':plan.id, 'filter':'popular-likes' }) },
                                }
                            },
            } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ plan.reboundCount }} {{ 'default.choice.inspirations'|transchoice(plan.reboundCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Plan:_list-n.part.html.twig' with { 'plans':rebounds } %}
{% endblock %}
