//
// LADB Comments
//

@boxMarginLeft: 42px;
@boxMinHeight: 32px;

.ladb-comment-widget {
  margin-top: 20px;

  .ladb-collapse-toggle {
    text-align: right;
    font-size: 90%;
    padding: 5px 0;
    color: #666;

    a {
      cursor: pointer;
      color: #666;
    }

    &.ladb-no-comment {
      color: #ccc;

      a {
        color: #ccc;
      }

    }

  }

  h2 {
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  
  .ladb-new {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid @ladb-global-border;

    .ladb-box {
      margin-left: @boxMarginLeft;
      min-height: @boxMinHeight;
    }
    
  }

  .ladb-activity-row {
    padding: 10px 0 10px 0;
    border-top: 1px solid @ladb-global-border;
    position: relative;

    .ladb-icon {
      float: left;
      width: 32px;
      text-align: center;
    }

    .ladb-body {
      margin-left: 42px;
      font-size: 90%;
    }

    .ladb-age {
      .age();
    }

  }

  .ladb-comment-children-collapse {
    padding-left: @boxMarginLeft;
  }

}

.ladb-comment-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid @ladb-global-border;

  form {
    margin: 0;
  }

  a {
    cursor: pointer;
  }

  > .ladb-minitools {
    float: right;
  }

  .ladb-avatar {
    float: left;
  }

  .ladb-box {
    margin-left: @boxMarginLeft;
    min-height: @boxMinHeight;

    .ladb-heading {
      margin-bottom: 5px;

      & .author > a {
        font-weight: bold;
      }

    }

    .ladb-age {
      .age();
    }

  }

  .ladb-comment-footer {
    color: #aaa;
    font-size: 90%;
  }

  .ladb-comment-reply {
    color: #aaa;

    &:hover {
      color: #666;
    }
  }

  .ladb-comment-children-collapse-btn {
    color: #666;
  }

}

.ladb-comment-thumbnail {
  padding: 0 10px 20px 10px;

  >.ladb-box {
    .list-box();
    .list-box-hover();

    >.ladb-content {

      >.ladb-image {
        float: left;
      }

      >.ladb-heading {
        margin-left: 74px;

        h3 {
          margin: 5px 0;
        }

      }

    }

    >.ladb-comments {
      padding: 6px 10px;
      border-left: 1px solid @ladb-global-border;
      min-height: 64px;

      >.ladb-comment-row:last-child {
        border-bottom: none;
      }

    }

  }

}

/* Responsive */

// phone
@media screen and (max-width: @ladb-screen-phone-max) {

  .ladb-comment-thumbnail > .ladb-box > .ladb-comments {
    border-left:none;
  }

}

