//
// LADB Workflow
//

@color-status-1: #ccc;
@color-status-2: #5c96bc;
@color-status-3: #5c96bc;
@color-status-4: @ladb-brand-success;

@bg-color-status-1: #eee;
@bg-color-status-2: #fff;
@bg-color-status-3: lighten(@color-status-3, 40%);
@bg-color-status-4: lighten(@color-status-4, 40%);

@label-bullet-size: 18px;

.cnt {
  position: absolute;
  top: @ladb-topbar-height;
  left: @ladb-leftbar-width;
  right: 0;
  bottom: @ladb-bottombar-height;

  .ladb-workflow-panel {
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    right: 0;

    .ladb-loading-panel {
      background-color: rgba(255, 255, 255, 0.6);
      opacity: 1;
    }

  }

  #ladb_workflow_task_list {
    height: 100%;

    .panel {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

  }

  #ladb_workflow_task_diagram {
    border: 1px solid @ladb-global-border;
    border-right: none;
    border-bottom: none;
    background-color: #fff;
    height: 100%;
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    overflow: hidden;
  }

  .ladb-panzoom {
    overflow: visible;
  }

  .ladb-jtk-canvas {
    position: absolute;

    path, .jtk-endpoint {
      cursor: pointer;
    }

    .jtk-drag-hover .ladb-box,
    .jtk-source-hover .ladb-box,
    .jtk-target-hover .ladb-box {
      border-color: @ladb-brand-primary !important;
    }

  }

}

.ladb-minitools-btn {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  text-align: center;
  padding: 0;
  line-height: 24px;

  &:hover {
    color: @ladb-brand-primary !important;
  }

}

.ladb-btn-done {
  width: 28px;
  height: 28px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  padding: 0;
  line-height: 24px;

  &:hover {
    border-color: #f77f00;
  }

  &:disabled {
    opacity: 0.4;
    border-color: #ccc !important;
  }

}

.ladb-workflow-task-row {

  .ladb-box {
    padding: 5px 0;
    background: #fff;

    &.ladb-status-1 .ladb-body {
      color: darken(@color-status-1, 20%);
    }

    .ladb-minitools-btn {
      color: darken(@color-status-1, 20%);
    }

  }

}

.ladb-workflow-task-widget {
  position: absolute;

  &:hover > .ladb-ep {
    display: block;
  }

  .ladb-box {
    padding: 15px 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-style: solid;
    width: 300px;

    &.ladb-status-0 {
      background-color: #fff;
      border-color: #ccc;
      border-style: dashed;
    }

    &.ladb-status-1 {
      background-color: @bg-color-status-1;
      border-color: @color-status-1;

      .ladb-minitools-btn {
        color: darken(@color-status-1, 20%);
      }

    }

    &.ladb-status-2 {
      background-color: @bg-color-status-2;
      border-color: @color-status-2;

      .ladb-minitools-btn {
        color: darken(@color-status-2, 20%);
      }

    }

    &.ladb-status-3 {
      background-color: @bg-color-status-3;
      border-color: @color-status-3;

      .ladb-minitools-btn {
        color: darken(@color-status-3, 20%);
      }

    }

    &.ladb-status-4 {
      background-color: @bg-color-status-4;
      border-color: @color-status-4;

      .ladb-minitools-btn {
        color: darken(@color-status-4, 20%);
      }

    }

  }

  .ladb-ep {
    display: none;
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    background-color: @ladb-brand-primary;
    cursor: pointer;
    text-align: center;
    color: #fff;
    line-height: 26px;
    border-radius: 13px;

    &:hover {
      box-shadow: 0 0 6px #ccc;
    }

    &:active {
      border: 2px solid #fff;
    }

  }

}

.ladb-workflow-task-widget .ladb-body, .ladb-workflow-task-row .ladb-body {
  padding: 4px 38px 0 38px;
  min-height: 28px;

  .ladb-labels {
    min-height: 5px;
  }

  .ladb-duration {
    font-size: 80%;
    opacity: 0.8;
  }

}


.ladb-workflow-label-row {

  td {
    position: relative;
  }

  .ladb-minitools {
    font-size: 110%;
    float: right;
  }

}

.ladb-workflow-label-row-form {

  td {
    position: relative;
  }

}

.ladb-workflow-label-bullet {
  display: inline-block;
  width: @label-bullet-size;
  height: @label-bullet-size;
  border: 2px solid #fff;
  border-radius: @label-bullet-size / 2;
  vertical-align: middle;
}

.ladb-workflow-label-span {
  line-height: @label-bullet-size;
}

/* Moernizr */

html.touchevents {

  .ladb-workflow-task-widget {

    .ladb-ep {
      display: block;
    }

  }

}

/* Responsive */

// phone
@media screen and (max-width: @ladb-screen-phone-max) {

  .cnt {
    position: static;

    .ladb-workflow-panel {
      position: static;

      #ladb_workflow_task_list {
        height: auto;
        margin-bottom: @ladb-bottombar-height;
        padding-bottom: @ladb-gutter / 2;

        .panel {
          height: auto;
        }

      }

      #ladb_workflow_task_diagram {
       display: none;
      }

    }

  }

}

