{% extends 'LadbCoreBundle:Core/User:_list-items-byuser-n.part.html.twig' %}

{# set items #}

{% block itemContentInner %}
    {{ parent() }}
    <div class="ladb-content-child">
        {% include 'LadbCoreBundle:Core/Vote:_votable-row.part.html.twig' with { 'vote':item.vote, 'parentEntity':item.parentEntity, 'votable':item.entity } %}
    </div>
{% endblock %}

{% block subitems %}
    {% if item.vote.comment is not null %}
        {% embed 'LadbCoreBundle:Core/Comment:_row.part.html.twig' with { 'comment':item.vote.comment, 'classes':'ladb-user-groupby-item', 'noFooter':true } %}
            {% block minitools %}{% endblock %}
        {% endembed %}
    {% else %}
        <span class="ladb-color-null">Sans explication<span>
    {% endif %}
{% endblock %}

