{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set pageTitle = 'blog.title'|trans() %}
{% set pageDescription = 'blog.description'|trans() %}
{% set pageImage = asset('banner-blog-600x600.jpg') %}
{% set pageImageWidth = '600' %}
{% set pageImageHeight = '600' %}

{% set navSection = 'blog' %}
{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Blog:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top ladb-margin-bottom">
        <div class="panel-body">{{ 'blog.description'|trans() }}</div>
    </div>
    {#{% embed 'LadbCoreBundle:Blog:_list-filterbar.part.html.twig' %}#}
        {#{% set heading = 'blog.post.list'|trans() %}#}
        {#{% set headingLevel = 2 %}#}
        {#{% set customFilterDefs = {#}
            {#'draft':    { 'label':('default.choice.draft'|transchoice(2)|capitalize), 'path':path('core_blog_post_list_filter', { 'filter':'draft' }), 'hidden':(not is_granted("ROLE_ADMIN")) },#}
        {#} %}#}
        {#{% block filterbarRightContent%}#}
            {#{% if is_granted('ROLE_ADMIN') %}#}
                {#<a href="{{ path('core_blog_post_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'blog.post.new'|trans() }}</a>#}
            {#{% endif %}#}
        {#{% endblock %}#}
    {#{% endembed %}#}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Blog:_list-n.part.html.twig' %}
{% endblock %}