
{# set workshop #}

<div class="alert alert-info">
    <p><i class="ladb-icon-warning"></i> Cet atelier est un brouillon. Il n'est visible que par vous, depuis votre <a href="{{ path('core_user_show_workshops', { 'username':app.user.usernameCanonical }) }}" target="_blank" class="alert-link">liste des ateliers</a>. Pour le rendre public, vous devez le publier.</p>
    <p class="text-right"><a href="#publish_workshop_modal" data-toggle="modal" class="btn btn-primary"><i class="ladb-icon-publish"></i> {{ 'default.publish'|trans() }}</a></p>
</div>
{% embed 'LadbCoreBundle:Common:_publish-modal.part.html.twig' with { 'id':'publish_workshop_modal', 'title':('default.publishing'|trans()), 'entity':workshop } %}
    {% block whatItIs %}La publication de l'atelier <strong>{{ workshop.title }}</strong> le rendra public.{% endblock %}
{% endembed %}