
{# set title (falcultative) #}
{# set icon (falcultative) #}

<li><a href="#workflows"><i class="{{ icon|default('ladb-icon-workflow') }}"></i> {{ title is defined ? title : ('workflow.workflow.choice.entities'|trans({'count': 2})|capitalize) }}</a></li>