{% extends 'Common/_list-topbar.part.html.twig' %}

{% set heading = 'blog.post.list'|trans() %}
{% set headingLevel = 2 %}

{% block listTopbarMiddleInner %}
    {% include 'Blog/Post/_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightOuter %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BLOG') %}{{ parent() }}{% endif %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_blog_post_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'blog.post.new'|trans() }}</span></a>
{% endblock %}
