
{# set entities #}
{# set noShowMore (facultative) #}

{% set maxResults = maxResults|default(3) %}
{% set typePrefix = typePrefix|default('') %}
{% set transPrefix = transPrefix|default(type) %}
{% set noShowMore = noShowMore|default(false) %}
{% set listSorter = listSorter|default('@sort-popular-likes:desc') %}

<p style="border-top: 1px solid #ddd; padding: 10px 0 0 10px;">
    <strong>{{ entities|length }} {{ (transPrefix~'.choice.new_'~type~'s')|transchoice((entities|length)) }}</strong>
    <table cellspacing="10" cellpadding="0">
        <tbody>
        {% for entity in entities|slice(0, maxResults) %}
            {% include 'LadbCoreBundle:Common:_entity-email-row.part.html.twig' with { 'subtitle':(entity.type == constant('\\Ladb\\CoreBundle\\Entity\\Howto\\Article::TYPE') ? entity.howto.title : null) } %}
        {% endfor %}
        {% if entities|length > maxResults and not noShowMore %}
            <tr>
                <td colspan="2"><a href="{{ url('core_'~typePrefix~type~'_list', { 'q':'@period:last7days '~listSorter}) }}" style="color: #f77f00; font-size: 90%;">Voir la suite...</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</p>
