{% extends 'LadbCoreBundle::email-layout.html.twig' %}

{% block content %}
    <p style="margin: 5px 0 5px 0;">
        Félicitations, votre publication <strong>{{ entity.title|raw }}</strong> vient d'être mise en avant sur la <a href="{{ url('core_welcome') }}" style="color: #f77f00; text-decoration: none;">page d'accueil</a>{% if twitterSuccess %} et la <a href="https://twitter.com/LAirDuBois" style="color: #f77f00; text-decoration: none;">page Twitter</a>{% endif %}{% if facebookSuccess %} et la <a href="https://facebook.com/LAirDuBois" style="color: #f77f00; text-decoration: none;">page Facebook</a>{% endif %}{% if mastodonSuccess %} et la <a href="https://mastodon.social/@lairdubois" style="color: #f77f00; text-decoration: none;">page Mastodon</a>{% endif %}{% if pinterestSuccess %} et le <a href="https://pinterest.com/lairdubois" style="color: #f77f00; text-decoration: none;">tableau Pinterest</a>{% endif %} de L'Air du Bois par un <em>coup de projecteur</em>.
    </p>
    <p style="margin: 5px 0 5px 0;">
        Pour en savoir plus sur les <em>coups de projecteur</em>, cliquez <a href="{{ url('core_faq_question_show', { 'id':'quest-ce-quun-coup-de-projecteur' }) }}" style="color: #f77f00; text-decoration: none;">ici</a>.
    </p>
    <table cellspacing="10" cellpadding="0">
        <tbody>
        {% include 'LadbCoreBundle:Common:_entity-email-row.part.html.twig' %}
        </tbody>
    </table>
{% endblock %}