{% extends 'LadbCoreBundle:Common:_form.html.twig' %}

{% set pageTitle = 'youtook.edit'|trans() %}
{% set formAction = path('core_youtook_update', { 'id':took.id }) %}

{% block sidenavHeading %}
    <i class="ladb-icon-edit"></i> {{ 'youtook.edit'|trans() }}
{% endblock %}

{% block form_buttons %}
    <a href="{{ path('core_youtook_show', { 'id':took.sluggedId }) }}" class="btn btn-default btn-block">{{ 'default.back'|trans() }}</a>
    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.update'|trans()), 'classes':'ladb-form-save-btn btn-primary btn-block' } %}
{% endblock %}

{% block sidenav %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-body.part.html.twig' %}
{% endblock %}

{% block sections %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true } %}
    {% include 'LadbCoreBundle:Common:_form-section-body.part.html.twig' with { 'mandatory':true } %}
{% endblock %}