{% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'disallowed_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block bodyInner %}
        <p>Vous n'êtes pas autorisé de valider ou rejetter vos propres contributions.</p>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
    {% endblock %}
{% endembed %}
{% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'disabled_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block bodyInner %}
        <p>Vous devez être connecté pour pouvoir valider ou rejetter.</p>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
        <a href="{{ path('core_smartlogin') }}" class="btn btn-primary">{{ 'security.login.submit'|trans() }}</a>
    {% endblock %}
{% endembed %}
