@import "../ladb/_variables.less";

.marker-cluster {
  background-clip: padding-box;

  color: white;

  background-image: url('/bundles/ladbcore/ladb/images/markers/black.png');

  text-align: center;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;

  span {
    line-height: 35px;
  }

}

.ladb-marker-green {
  background-image: url('/bundles/ladbcore/ladb/images/markers/green.png');
}
.ladb-marker-blue {
  background-image: url('/bundles/ladbcore/ladb/images/markers/blue.png');
}
.ladb-marker-orange {
  background-image: url('/bundles/ladbcore/ladb/images/markers/orange.png');
}
