{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set find #}

{% set entity = find %}

{% block title %}
    <i class="ladb-icon-{% if find.kind == constant('\\Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') %}video{% elseif find.kind == constant('\\Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_GALLERY') %}camera{% else %}globe{% endif %}"></i> {{ parent() }}
{% endblock %}

{% block image %}
    {{ parent() }}
    {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') %}
        <div style="position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -40px; font-size: 60px; color: #fff; opacity: 0.8;"><i class="ladb-icon-play"></i></div>
    {% endif %}
{% endblock %}
