{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail.part.html.twig' %}

{# set find #}

{% set entity = find %}
{% set classes = 'ladb-no-overlay-caption' %}
{% set pictureWidth = 282 %}
{% set pictureHeight = 200 %}
{% set pictureFilterMode = 'o' %}

{% block title %}
    <div style="padding-top: 10px;">
        <i class="ladb-icon-{% if find.kind == constant('\\Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') %}video{% elseif find.kind == constant('\\Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_GALLERY') %}camera{% else %}globe{% endif %}"></i> {{ parent() }}
    </div>
{% endblock %}

{% block image %}
    {{ parent() }}
    {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') %}
        <div style="position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -40px; font-size: 60px; color: #fff; opacity: 0.8; text-shadow: 0 0 5px #000;"><i class="ladb-icon-follow"></i></div>
    {% endif %}
{% endblock %}
