
{# set label #}

<tr class="ladb-workflow-label-row">
    <td>
        <span class="ladb-minitools">
            <a href="{{ path('core_workflow_label_edit', { 'id':label.id }) }}" class="ladb-label-edit-btn"><i class="ladb-icon-edit ladb-icon-lg"></i></a>
            &nbsp;
            <a href="{{ path('core_workflow_label_delete', { 'id':label.id }) }}" class="ladb-label-delete-btn ladb-minitool-danger"><i class="ladb-icon-delete ladb-icon-lg"></i></a>
        </span>
        {% include 'LadbCoreBundle:Workflow:Label/_span.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_loading-panel.part.html.twig' %}
    </td>
</tr>
