
{# set entity #}
{# set picture (facultative) #}
{# set title (facultative) #}
{# set showPath (facultative) #}
{# set noMicrodata (facultative) #}

{% set picture = picture|default(entity.mainPicture) %}
{% set title = title|default(entity.title) %}
{% set showPath = showPath|default(ladb_entity_url_action(entity)) %}
{% set noMicrodata = noMicrodata|default(false) %}

<a href="{{ showPath }}"{% if not noMicrodata %} itemprop="url"{% endif %} {% if linkClasses is defined %}class="{{ linkClasses }}"{% endif %} data-tooltip="tooltip" title="{{ title }}">
    {% include 'Common/_avatar.part.html.twig' %}
</a>