<div class="ladb-show-content-section ladb-linkedto-widget ladb-no-print">
    <h2>{{ 'default.links'|trans() }}</h2>
    <div class="ladb-body row">
        {% block body %}{% endblock %}
    </div>
</div>