{% apply spaceless %}

{# set entity #}

<span class="ladb-updated-age{% if classes is defined %} {{ classes }}{% endif %}">Mis à jour <time datetime="{{ entity.updatedAt|date('Y-m-d H:i:s') }}">{{ entity.updatedAt|ago() }}</time></span>
{% endapply %}
