{% extends 'Common/_list-n.part.html.twig' %}

{# set items #}
{# set nextPageUrl #}

{% block items %}
    {% for item in items %}
        <div class="ladb-vote-thumbnail">
            <div class="ladb-box row">
                <div class="ladb-content col-md-6 col-xs-12">
                    {% if item.user is not null %}
                        <div class="ladb-image">
                            {% include 'Core/User:_avatar.part.html.twig' with { 'user':item.user, 'size':'64' } %}
                        </div>
                        <div class="ladb-heading">
                            <h3><a href="#">{% include 'Core/User:_displayname-link.part.html.twig' with { 'user':item.user } %}</a></h3>
                        </div>
                        <div class="ladb-subheading">
                            {% include 'Core/User:_location-and-social.part.html.twig' with { 'user':item.user } %}
                        </div>
                    {% else %}
                        <div class="ladb-heading">
                            <h3><i class="ladb-icon-users ladb-icon-lg"></i> {{ 'default.collective_contents'|trans() }}</h3>
                        </div>
                    {% endif %}
                </div>
                <div class="ladb-votables col-md-6 col-xs-12">
                    {% for votable in item.votables %}
                        {% include 'Core/Vote:_votable-row.part.html.twig' with { 'vote':item.votes[loop.index0], 'parentEntity':entity, 'votable':votable }  %}
                        {% if item.votes[loop.index0].comment is not null %}
                            <div class="media">
                                <div class="media-left"><i class="ladb-icon-reply"></i></div>
                                <div class="media-body">
                                    {% embed 'Core/Comment:_row.part.html.twig' with { 'comment':item.votes[loop.index0].comment, 'classes':'ladb-user-groupby-item', 'noFooter':true } %}
                                        {% block minitools %}{% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

