{% extends 'Qa/Question/_form.html.twig' %}

{% set pageTitle = 'qa.question.edit'|trans() %}
{% set formAction = path('core_qa_question_update', { 'id':question.id }) %}

{% block sidenavHeading %}
    <i class="ladb-icon-edit"></i> {{ 'qa.question.edit'|trans() }}
{% endblock %}

{% block form_buttons %}
    <a href="{{ path('core_qa_question_show', { 'id':question.sluggedId }) }}" class="btn btn-default btn-block">{{ 'default.close'|trans() }}</a>
    {% include 'Common/_form-btn-loading.part.html.twig' with { 'text':('default.update'|trans()), 'classes':'ladb-form-save-btn btn-primary btn-block' } %}
{% endblock %}

{% block sections %}
    {% if question.isDraft %}
        {% include 'Qa/Question/_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}
