
{# set title (falcultative) #}

<li><a href="#schools"><i class="ladb-icon-school"></i> {{ title is defined ? title : ('knowledge.school.choice.entities'|trans({'%count%': 2})|capitalize) }}</a></li>