{% extends "FOSUserBundle:layout.html.twig" %}

{% block subtitle %}{{ 'resetting.request.submit'|trans() }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
            <div class="panel panel-default panel-lg">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'resetting.request.submit'|trans() }}</h1>
                </div>
                <div class="panel-body">
                    <p class="text-center">{{ 'resetting.password_already_requested'|trans() }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('core_welcome') }}" class="btn btn-default">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
