<div class="alert alert-info">
    <div class="media">
        <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
        <div class="media-body">
            <h4>A lire avant d'envoyer</h4>
            <p>Cette messagerie privée se destine à prendre contact individuellement avec les membres inscrits de la plateforme.<br>
                <u>La prospection commerciale n'y est pas attendue</u>. Pour plus d'informations, le sujet est débattu <a href="/blog/102-publicite-en-message-prive.html" class="alert-link">ici</a>.</p>
        </div>
    </div>
</div>
