{% extends 'LadbCoreBundle:Core/Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.tips'|trans() %}
{% set searchPath = path('core_tip_list') %}
{% set masonry = true %}

{% block filtersBtnOuter %}{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-recent" data-label="Récentes" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récentes</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-popular-views" data-label="Plus vues" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vues</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort-random" data-label="Aléatoire" data-unique="true" data-random="true" data-icon="random"><i class="ladb-icon-random"></i> Aléatoire</a></li>
{% endblock %}

{% block searchboxShortcutsOuter %}{% endblock %}