
{# set part #}

<tr class="ladb-workflow-part-row">
    <td>
        <span class="ladb-minitools">
            <a href="{{ path('core_workflow_part_edit', { 'id':part.id }) }}" class="ladb-part-edit-btn"><i class="ladb-icon-edit ladb-icon-lg"></i></a>
            &nbsp;
            <a href="{{ path('core_workflow_part_delete', { 'id':part.id }) }}" class="ladb-part-delete-btn ladb-minitool-danger"><i class="ladb-icon-delete ladb-icon-lg"></i></a>
        </span>
        {% include 'Workflow:Part/_span.part.html.twig' %}
        {% include 'Common/_loading-panel.part.html.twig' %}
    </td>
</tr>
