{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set navSection = 'workflows' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if howtos.count == 0 %}
        <div class="alert alert-info">
            Aucun pas à pas n'est associé à ce processus.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Howto/Howto:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_workflow_howtos_filter' %}
            {% set filterPathParameters = { 'id':workflow.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ workflow.howtoCount }} {{ 'howto.howto.choice.howtos'|transchoice(workflow.howtoCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Howto/Howto:_list-n.part.html.twig' %}
{% endblock %}