{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageUrl = url('core_workflow_workshops', { 'id':workflow.id }) %}
{% set pageTitle = 'Ateliers associés à '~workflow.title %}
{% set pageDescription = 'Ateliers associés au processus' %}

{% set navSection = 'workflows' %}

{% set masonry = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if workshops.count == 0 %}
        <div class="alert alert-info">
            Aucun atelier n'est associé à ce processus.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Wonder/Workshop:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_workflow_workshops_filter' %}
            {% set filterPathParameters = { 'id':workflow.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ workflow.workshopCount }} {{ 'wonder.workshop.choice.entities'|transchoice(workflow.workshopCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Workshop:_list-n.part.html.twig' %}
{% endblock %}