{# set followerContext #}
{# set tiny (facultative) #}

{% set tiny = tiny|default(false) %}

<div class="btn-group{% if tiny %} btn-group-xs{% endif %} ladb-follower-widget">
    {% include 'Core/Follower/_widget-inner.part.html.twig' %}
</div>
