
{# set me (facultative) #}
{# set noMicrodata (facultative) #}
{# set noBadge (facultative) #}

{% set noMicrodata = noMicrodata|default(false) %}
{% set noBadge = noBadge|default(false) %}

{% if user.isTeam and not noBadge %}&nbsp;<i class="ladb-icon-users ladb-user-badge" title="{{ user.displayname }} est un collectif de boiseux" data-tooltip="tooltip"></i>&nbsp;{% endif %}<a href="{{ path('core_user_show', { 'username':user.usernameCanonical }) }}"{% if linkClasses is defined %} class="{{ linkClasses }}"{% endif %}{% if not noMicrodata %} itemprop="url"{% endif %}><span{% if not noMicrodata %} itemprop="name"{% endif %}>{% include 'Core/User:_displayname.part.html.twig' %}</span></a>{% if not noBadge %}{% include 'Core/User:_account-type.part.html.twig' %}{% endif %}