<div id="ladb_workflow_task_row_{{ task.id }}" class="ladb-workflow-task-row{% if readOnly %} ladb-readonly{% endif %}" data-sort-index="{{ task.positionTop }}">
    {% include 'Workflow/Task/_box.part.html.twig' %}
</div>