{# set form #}
{# set formSection #}
{# set galleryClasses (facultative) #}

{% set formSection = formSection is defined ? formSection : 'pictures' %}

<div class="ladb-form-gallery{% if galleryClasses is defined %} {{ galleryClasses }}{% endif %}">
    <div class="ladb-form-gallery-section collapse{% if form.vars.data.pictures is not empty %} in{% endif %}" id="{{ formSection }}_collapse">
        {% include 'Core/Picture/_form-gallery.part.html.twig' with { 'maxPictureCount':4, 'hideTextOverlayWarning':true, 'sortable':true } %}
    </div>
    <div class="ladb-form-gallery-header"><a data-toggle="collapse" href="#{{ formSection }}_collapse" data-tooltip="tooltip" title="Joindre des images"><i class="ladb-icon-camera"> </i></a></div>
</div>
