{% extends 'Common/Layout/_list.html.twig' %}

{% set pageTitle = 'knowledge.tool.list'|trans() %}
{% set pageDescription = 'knowledge.tool.description'|trans() %}
{% set pageImage = asset('banner-tools-600x376.jpg') %}
{% set pageSectionUrl = url('core_tool_list') %}
{% set pageSectionName = 'knowledge.tool.list'|trans %}

{% set navSection = 'tools' %}
{% set masonry = true %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}

{% block bodyHeaderContainerContent %}
    {% include 'Knowledge/Tool/_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Ce <a href="{{ path('core_faq_question_show', { 'id':'quest-ce-que-le-catalogue-outils' }) }}">catalogue</a> est complété et contrôlé collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}">apportez vos propositions</a> !
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Knowledge/Tool/_list-n.part.html.twig' %}
{% endblock %}
