{% extends 'LadbCoreBundle:Common:Layout/_form.html.twig' %}

{% set navSection = 'howtos' %}

{% block sidenav %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Block:_form-sidenav-body.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="form-untitled-section">{% block sectionsHeader %}{% endblock %}</div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('howto.article.form.help.title'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true, 'help':('howto.article.form.help.body'|trans()) } %}
{% endblock %}