{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{% set entity = collection %}
{% set emptyWebPath = 'empty_collection.png' %}

{% block title %}<i class="ladb-icon-collection"></i> {{ parent() }}{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    <li class="ladb-counter">
        {% include 'LadbCoreBundle:Collection/Collection:_publications-counter.part.html.twig' with { 'classes':'ladb-horizontal-separator-right pull-right' } %}
    </li>
{% endblock %}


