<div class="pull-right"><a href="https://fileinfo.com/extension/{{ value.data }}" target="_blank" class="btn btn-default btn-sm">Voir sur FileInfo.com</a></div>
<span>.{{ value.data|upper }}</span>{% if value.label is not empty %}<small class="ladb-color-null"> - {{ value.label }}</small>{% endif %}
