<span{% if itemprop is defined %} itemprop="{{ itemprop }}"{% endif %}>.{{ value.extension|upper }}</span>{% if value.label is not empty %}<small class="ladb-color-null"> - {{ value.label }}</small>{% endif %}
