<span{% if itemprop is defined %} itemprop="{{ itemprop }}"{% endif %}>{% if value.url %}<a href="{{ value.url }}"><i class="ladb-icon-globe"></i> {{ value.data }}</a>{% else %}{{ value.data }}{% endif %}</span>
