<div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <a href="{{ value.data }}"{% if itemprop is defined %} target="_blank" itemprop="{{ itemprop }}"{% endif %}><i class="ladb-icon-globe"></i> {{ value.data|ladb_url_beautify|raw }}</a>
</div>
