{% extends 'LadbCoreBundle:Common/Layout:_form.html.twig' %}

{% block sectionsFooter %}
    {{ parent() }}
    <p class="text-center"><i class="ladb-icon-info"></i> Les autres champs pourront être renseignés directement dans la nouvelle fiche créée.</p>
{% endblock %}

