{% extends 'LadbCoreBundle:Knowledge:_form-fieldset-value.part.html.twig' %}

{% set fieldDef = knowledge.fieldDefs[field] %}
{% set fieldSuffix = fieldDef[constant('ATTRIB_SUFFIX', knowledge)] is defined ? fieldDef[constant('ATTRIB_SUFFIX', knowledge)] : null %}

{% block dataFormGroup %}
    {{ form_errors(form.data) }}
    {% if fieldSuffix is not null %}
        <div class="input-group">
            {{ form_widget(form.data, { 'attr':{ 'class':'form-control input-lg', 'placeholder':knowledge is defined ? (('knowledge.'~knowledge.strippedName~'.field.'~field)|trans()) : '' } }) }}
            <span class="input-group-addon">{{ fieldSuffix|raw }}</span>
        </div>
    {% else %}
        {{ form_widget(form.data, { 'attr':{ 'class':'form-control input-lg', 'placeholder':knowledge is defined ? (('knowledge.'~knowledge.strippedName~'.field.'~field)|trans()) : '' } }) }}
    {% endif %}
{% endblock %}
