{% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' %}
{{ entity.contributorCount }} <i class="ladb-icon-contributor"></i><span class="ladb-horizontal-separator-left" data-tooltip="tooltip" title="Cette fiche est complétée à {{ entity.completion100 }}%">{{ entity.completion100 }}%</span>
