{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="ladb-filterbar ladb-filterbar-line">
        <span class="ladb-heading pull-right">{{ entity.contributorCount }} {{ 'user.choice.contributors'|transchoice(entity.contributorCount) }}</span>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Core/User:_list-n.part.html.twig' %}
{% endblock %}