{% extends '::base.html.twig' %}

{% block headStylesheets %}
    <style type="text/css">
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0px;
        }
        iframe {
            border: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="content">
        <iframe src="/bundles/ladbcore/ladb/pdfjs/web/viewer.html?file={{ pdfPath }}" width="100%" height="100%"></iframe>
    </div>
{% endblock %}