{# set entity #}
{# set picture (facultative) #}
{# set showUrl (facultative) #}

{% set picture = picture|default(entity.mainPicture) %}
{% set showUrl = showUrl|default(ladb_entity_url_action(entity)) %}

<div class="ladb-card ladb-card-thumbnail">
    <div class="ladb-image">
        <a href="{{ showUrl }}">{% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':picture, 'alt':entity.title, 'width':282, 'height':200, 'noLazyLoad':true } %}</a>
    </div>
    <div class="ladb-body">
        <div class="ladb-heading">{% block headingInner %}<a href="{{ showUrl }}">{{ entity.title }}</a>{% endblock %}</div>
        <div class="ladb-subheading">
            {% block subheadingInner %}
                {% if entity.user is defined %}
                    {% include 'LadbCoreBundle:Common:_author.part.html.twig' %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>