
{# set alertMessage #}
{# set modalMessage #}

<div class="alert alert-info">
    <div class="media">
        <div class="media-left">
            <i class="ladb-icon-warning ladb-icon-lg"></i>
        </div>
        <div class="media-body">
            <p>{{ alertMessage|raw }}</p>
            <div class="pull-right"><a href="#publish_modal" data-toggle="modal" class="btn btn-primary"><i class="ladb-icon-publish"></i> {{ 'default.publish'|trans() }}</a></div>
        </div>
    </div>
</div>
{% embed 'LadbCoreBundle:Common:_publish-modal.part.html.twig' with { 'id':'publish_modal', 'title':('default.publishing'|trans()) } %}
    {% block whatItIs %}{{ modalMessage|raw }}{% endblock %}
{% endembed %}