{# set entity #}
{# set pictures #}
{# set alt (facultative) #}
{# set editable (facultative) #}

{% set editable = editable|default(false) %}
{% set isPortrait = pictures[0].heightRatio100 >= 120 %}
<div class="ladb-showcase{% if isPortrait %} ladb-showcase-portrait{% endif %} row">
    <div class="ladb-showcase-picture-0 col-xs 12 col-sm-{% if isPortrait %}9{% else %}12{% endif %}">
        {% set width = '600' %}
        {% set height = '600' %}
        {% set filterMode = 'i' %}
        {% if isPortrait and pictures[0].heightRatio100 < 136 %}     {# Force 4/3 ratio #}
            {% set width = '514' %}
            {% set height = '695' %}
            {% set filterMode = 'o' %}
        {% endif %}
        {% block picture0 %}
            {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':pictures[0] } %}
        {% endblock %}
    </div>
    {% if pictures.count > 1  or editable or isPortrait %}
        {% for index in 1..4 %}
            <div class="ladb-showcase-picture-n col-xs-6 col-sm-3{% if pictures.count == 1 or index >= pictures.count and index > 2 and pictures.count <= 3 %} ladb-hidden-mobile{% endif %}">
                {% if index < pictures.count %}
                    {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':pictures[index], 'width':'128', 'height':'128', 'filterMode':'o', 'alt':alt, 'attributes':'data-pin-nopin="true"' } %}
                {% else %}
                    <div class="thumbnail thumbnail-empty">
                        {% if editable %}
                            <a href="{{ ladb_entity_url_action(entity, 'edit', false, false)~'#pictures' }}"><img src="{{ 'empty_add.png'|imagine_filter('128x128o') }}" alt="empty" data-pin-nopin="true"></a>
                        {% else %}
                            <img src="{{ 'empty.png'|imagine_filter('128x128o') }}" alt="empty" data-pin-nopin="true">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
