
{# set heading (facultative) #}
{# set headingLevel (facultative) #}

<div class="ladb-list-topbar">
    <div class="ladb-list-topbar-left ladb-hidden-mobile ladb-hidden-tablet">
        {% block listTopbarMiddleLeft %}
            {% set headingLevel = headingLevel|default(1) %}
            <h{{ headingLevel }}>{{ heading }}</h{{ headingLevel }}>
        {% endblock %}
    </div>
    <div class="ladb-list-topbar-middle">{% block listTopbarMiddleInner %}{% endblock %}</div>
    {% block listTopbarRightOuter %}<div class="ladb-list-topbar-right">{% block listTopbarRightInner %}{% endblock %}</div>{% endblock %}
</div>
