{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = (family == 'team' ? 'team.list' : 'user.list')|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Core/User:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    {% if family == 'team' %}
        <a href="{{ path('core_user_team_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'team.new'|trans() }}</a>
    {% elseif not is_granted("ROLE_USER") %}
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'user.register'|trans() }}</a>
    {% endif %}
{% endblock %}