{% extends 'LadbCoreBundle:Core/User:_show-list.html.twig' %}

{% block bodyContainerContent %}
    {% if invitations.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            <strong>{{ user.username }}</strong> n'a pas d'invitation en attente.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Core/User:_list-filterbar.part.html.twig' with { 'classes':'ladb-filterbar-line' } %}
            {% set filterPath = 'core_user_show_invitations_filter' %}
            {% set filterPathParameters = { 'username':user.usernameCanonical } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ user.meta.memberCount }} {{ 'team.choice.invitations'|transchoice(user.meta.memberCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Core/Member:_invitations-list-n.part.html.twig' %}
{% endblock %}
