{% extends 'LadbCoreBundle:Common:_draft-alert.part.html.twig' %}

{% set entity = workshop %}
{% set alertMessage = 'Cet atelier est un brouillon. Il n\'est visible que par vous, depuis votre <a href="'~path('core_user_show_workshops', { 'username':app.user.usernameCanonical })~'" target="_blank" class="alert-link">liste des ateliers</a>. Pour le rendre public, vous devez le publier.' %}
{% set modalMessage = 'La publication de l\'atelier <strong>'~workshop.title~'</strong> le rendra public.' %}
