{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = 'workshop.list'|trans() %}

{% block listTopbarMiddleInner %}
    {% include 'LadbCoreBundle:Wonder/Workshop:_searchbox.part.html.twig' %}
{% endblock %}

{% block listTopbarRightInner %}
    <a href="{{ path('core_workshop_new') }}" class="btn btn-default"><i class="ladb-icon-plus"></i><span class="ladb-hidden-mobile"> {{ 'workshop.new'|trans() }}</span></a>
{% endblock %}