{% extends 'LadbCoreBundle:Wonder:_wonder-list-thumbnail.part.html.twig' %}

{% set wonder = workshop %}

{% block entityMetas %}
    {% include 'LadbCoreBundle:Wonder/Workshop:_linkto-entity-metas.part.html.twig' %}
    {{ parent() }}
    {% if entity.feedbackCount > 0 %}
        <li class="ladb-counter ladb-color-feedback"><i class="ladb-icon-feedback"></i> <span>{{ entity.feedbackCount|number_format(0, ',', ' ') }}</span></li>
    {% endif %}
{% endblock %}