{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageUrl = url('core_workshop_workflows', { 'id':workshop.id }) %}
{% set pageTitle = 'Prcessus associés à '~workshop.title %}
{% set pageDescription = 'Processus associés à l\'atelier' %}

{% set navSection = 'workshops' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workshop } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if workflows.count == 0 %}
        <div class="alert alert-info">
            Aucun workflow n'est associé à cet atelier.
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Workflow:Workflow/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_workshop_workflows_filter' %}
            {% set filterPathParameters = { 'id':workshop.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ workshop.workflowCount }} {{ 'workflow.workflow.choice.workflows'|transchoice(workshop.workflowCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Workflow:Workflow/_list-n.part.html.twig' %}
{% endblock %}