<div class="alert alert-info">
    <div class="media">
        <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
        <div class="media-body">
            <h4>A lire avant d'envoyer</h4>
            <p>La qualité du produit, la transaction, le conditionnement, l'expédition, ainsi que le service après transaction relatifs à cette annonce sont de la responsabilité de l'annonceur.</p>
        </div>
    </div>
</div>
