{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set offer #}

{% set entity = offer %}

{% block body %}
    {{ parent() }}
    <div style="">
        <div style="font-weight: bold; font-size: 150%; color: #0b93d5;">
            300€
        </div>
        <div style="font-weight: bold; font-size: 110%;">
            38780 Pont-Evêque
        </div>
    </div>
{% endblock %}