{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set offer #}

{% set entity = offer %}

{% block body %}
    <div style="display: flex; flex-direction: column; min-height: 160px;">
        <div style="flex-grow: 1;">
            {{ parent() }}
        </div>
        <div>
            {% if offer.price is defined and offer.price is not null %}
                <div style="font-weight: bold; font-size: 130%; color: #0b93d5;">
                    {{ offer.price }}
                </div>
            {% endif %}
            {% if offer.location is defined and offer.location is not null %}
                <div>
                    {% include 'LadbCoreBundle:Offer/Offer:_location.part.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block headingBadges %}
    {% include 'LadbCoreBundle:Offer/Offer:_kind-category-badge.part.html.twig' %}
    {{ parent() }}
{% endblock %}
