{% if offer.price is defined and offer.price is not null %}
    <div class="ladb-offer-price">{{ offer.price }}{% if offer.priceSuffix %} <span class="ladb-offer-price-suffix">{{ offer.priceSuffix }}</span>{% endif %}</div>
{% endif %}