{% spaceless %}
<a href="{{ ladb_entity_url_action(article) }}?referer=1" title="{{ article.title|escape('html') }}" target="_blank"><img src="{{ url('core_howto_article_sticker', { 'id':article.id }) }}" alt="{{ article.title|escape('html') }}"></a>
{% endspaceless %}