{% extends 'LadbCoreBundle:Search:_searchbox.part.html.twig' %}

{% set placeholder = 'search.in.howtos'|trans() %}
{% set searchPath = path('core_howto_list', routeParameters) %}
{% set masonry = layout == 'view' %}
{% set masonryWide = layout == 'view' %}

{% block filtersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="tag" data-label="Tag" data-editable="true" data-icon="tag" data-proposals-url="{{ path('core_search_typeahead_tags_json')|raw }}"><i class="ladb-icon-tag"></i> Tags</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-creations" data-label="Avec création" data-unique="true" data-icon="creation"><i class="ladb-icon-creation"></i> Avec création</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-plans" data-label="Avec plan" data-unique="true" data-icon="plan"><i class="ladb-icon-plan"></i> Avec plan</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-workshops" data-label="Avec atelier" data-unique="true" data-icon="workshop"><i class="ladb-icon-workshop"></i> Avec atelier</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="content-videos" data-label="Avec vidéo" data-unique="true" data-icon="video"><i class="ladb-icon-video"></i> Avec vidéo</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="wip" data-label="En cours de réalisation" data-unique="true" data-icon="wip"><i class="ladb-icon-wip"></i> En cours de réalisation</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="author" data-label="Auteur" data-editable="true" data-unique="true" data-icon="user"><i class="ladb-icon-user"></i> Auteur</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="filter" data-name="license" data-label="Licence" data-editable="true" data-unique="true" data-icon="cc" data-proposals="by,by-nc,by-nc-nd,by-nc-sa,by-nd,by-sa"><i class="ladb-icon-cc"></i> Licence</a></li>
{% endblock %}

{% block sortersDropdown %}
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="recent" data-label="Récents" data-unique="true" data-icon="time"><i class="ladb-icon-time"></i> Récents</a></li>
    <li class="divider"></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-views" data-label="Plus vus" data-unique="true" data-icon="eye"><i class="ladb-icon-eye"></i> Plus vus</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-likes" data-label="Préférés" data-unique="true" data-icon="like"><i class="ladb-icon-like"></i> Préférés</a></li>
    <li><a class="ladb-smartsearch-facet" data-type="sorter" data-name="sort" data-value="popular-comments" data-label="Plus commentés" data-unique="true" data-icon="comment"><i class="ladb-icon-comment"></i> Plus commentés</a></li>
{% endblock %}

{% block searchboxShortcutsOuter %}{% endblock %}