{% extends "FOSUserBundle:layout.html.twig" %}

{% block subtitle %}{{ 'registration.heading'|trans() }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
            <div class="panel panel-default panel-lg">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'registration.heading'|trans() }}</h1>
                </div>
                <div class="panel-body">
                    <p class="text-center">{{ 'registration.confirmed'|trans({ '%username%':user.username })|raw }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('core_user_show', { 'username':user.usernameCanonical }) }}" class="btn btn-primary">Accéder à votre page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
